@charset "IBM866";
/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* TRANSITION */
/* line 2, ../sass/comment.scss */
.comment-list {
  border-bottom: 1px solid #dadada;
  background: #f8f8f8;
}
/* line 5, ../sass/comment.scss */
.comment-list .comment {
  padding: 0;
  border-top: 1px solid #e6e6e6;
}

/* line 11, ../sass/comment.scss */
.comment .comment__text {
  margin: auto;
  width: 640px;
  padding-bottom: 1px;
}
/* line 15, ../sass/comment.scss */
.comment .comment__text p {
  font: 16px/1.8 Cambria, georgia, serif;
  margin-bottom: 1.6em;
}
/* line 20, ../sass/comment.scss */
.comment .comment__text-holder {
  padding-top: 36px;
  margin-bottom: 35px;
}
/* line 24, ../sass/comment.scss */
.comment .comment__userpic {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  float: left;
}
/* line 32, ../sass/comment.scss */
.comment .comment__username {
  font-size: 11px;
  opacity: 0.4;
  font: 11px/1.3 Helvetica, sans-serif;
  float: left;
  margin: 8px 0 0 8px;
  width: 60px;
}
/* line 40, ../sass/comment.scss */
.comment .comment__meta {
  position: absolute;
  top: 19px;
  right: 18px;
  height: 22px;
  width: 50px;
}
/* line 47, ../sass/comment.scss */
.comment .comment__rating {
  border: 1px solid #dfdfdf;
  color: #9c9c9c;
  font-weight: bold;
  font-size: 14px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.05)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
  height: 20px;
  line-height: 18px;
  padding: 0 8px;
  float: right;
  border-radius: 10px;
}

/* line 63, ../sass/comment.scss */
.comment_reply .comment__text {
  background: #fff;
  border: 1px solid #e6e6e6;
  border-width: 0 1px;
  background: white url(../img/bg-comment.png) repeat-y 100% 0;
}
/* line 69, ../sass/comment.scss */
.comment_reply .comment__text-holder {
  padding: 35px 50px 0;
}

/* line 75, ../sass/comment.scss */
.comment_l1 .comment__text {
  border-radius: 4px 4px 0 0;
  margin-top: -5px;
  border-top: 1px solid #e6e6e6;
}

/* line 82, ../sass/comment.scss */
.comment_l2 .comment__text {
  background-position: -200px 0;
}
/* line 85, ../sass/comment.scss */
.comment_l2 .comment__text-holder {
  padding-left: 100px;
}

/* line 91, ../sass/comment.scss */
.comment_l3 .comment__text {
  background-position: -150px 0;
}
/* line 94, ../sass/comment.scss */
.comment_l3 .comment__text-holder {
  padding-left: 150px;
}
/* line 96, ../sass/comment.scss */
.comment_l3 .comment__text-holder form {
  width: 440px;
}
/* line 97, ../sass/comment.scss */
.comment_l3 .comment__text-holder .comment__visual textarea {
  width: 408px;
}

/* line 101, ../sass/comment.scss */
.comment_l4 .comment__text {
  background-position: -100px 0;
}
/* line 104, ../sass/comment.scss */
.comment_l4 .comment__text-holder {
  padding-left: 200px;
}
/* line 106, ../sass/comment.scss */
.comment_l4 .comment__text-holder form {
  width: 440px;
}
/* line 107, ../sass/comment.scss */
.comment_l4 .comment__text-holder .comment__visual textarea {
  width: 408px;
}

/* line 110, ../sass/comment.scss */
.comment__author {
  background: #fbf9e5;
}

/* line 114, ../sass/comment.scss */
.comment_last .comment__text {
  border-radius: 0 0 4px 4px;
  margin-bottom: -5px;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  z-index: 10;
}
