@charset "IBM866";
/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* TRANSITION */
/* line 5, ../sass/common.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

/* line 6, ../sass/common.scss */
body {
  font-family: "Myriad Pro", arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
  background: #ebebeb;
}

/*resets*/
/* line 16, ../sass/common.scss */
a img, fieldset {
  border: none;
}

/* line 19, ../sass/common.scss */
a {
  color: #00919e;
}
/* line 21, ../sass/common.scss */
a:hover {
  text-decoration: none;
}

/* line 25, ../sass/common.scss */
header, footer, article, nav, section {
  display: block;
}

/* line 28, ../sass/common.scss */
.top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 43px;
  background: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f7f7f7));
  background-image: -webkit-linear-gradient(#ffffff, #f7f7f7);
  background-image: -moz-linear-gradient(#ffffff, #f7f7f7);
  background-image: -o-linear-gradient(#ffffff, #f7f7f7);
  background-image: linear-gradient(#ffffff, #f7f7f7);
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  overflow: visible;
  z-index: 100;
  border-width: 0 0 1px;
}
/* line 41, ../sass/common.scss */
.top .top__in {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  height: 43px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
}
/* line 50, ../sass/common.scss */
.top .top__title {
  float: left;
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica,sans-serif;
  color: #a0a0a0;
  padding-left: 20px;
  line-height: 43px;
  height: 43px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  white-space: nowrap;
  width: 685px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 67, ../sass/common.scss */
.icon {
  width: 43px;
  height: 43px;
  float: left;
  border-right: 1px solid #e3e3e3;
  cursor: pointer;
  -moz-transition: box-shadow 0.1s ease-in-out;
  -webkit-transition: box-shadow 0.1s ease-in-out;
  -o-transition: box-shadow 0.1s ease-in-out;
  -ms-transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
}
/* line 74, ../sass/common.scss */
.icon:hover {
  box-shadow: inset 0 0 12px 5px rgba(170, 170, 170, 0.05);
  background-color: #fafafa;
}
/* line 78, ../sass/common.scss */
.icon.icon_active {
  box-shadow: inset 0 5px 12px -3px rgba(0, 0, 0, 0.2);
}

/* line 82, ../sass/common.scss */
.icon_right {
  float: right;
  border-right: none;
  border-left: 1px solid #e3e3e3;
}

/* line 87, ../sass/common.scss */
.icon_home {
  background: url('../img/common-s2100b5eb7b.png') 0 -1414px no-repeat;
  width: 52px;
  height: 43px;
}
/* line 89, ../sass/common.scss */
.icon_home.icon_active {
  background: url('../img/common-s2100b5eb7b.png') 0 -315px no-repeat;
  width: 52px;
  height: 43px;
}

/* line 93, ../sass/common.scss */
.icon_comments {
  background: url('../img/common-s2100b5eb7b.png') 0 -983px no-repeat;
  width: 52px;
  height: 43px;
}
/* line 95, ../sass/common.scss */
.icon_comments.icon_active {
  background: url('../img/common-s2100b5eb7b.png') 0 -272px no-repeat;
  width: 52px;
  height: 43px;
}

/* line 99, ../sass/common.scss */
.icon_compass {
  background: url('../img/common-s2100b5eb7b.png') 0 -129px no-repeat;
  width: 52px;
  height: 43px;
}
/* line 101, ../sass/common.scss */
.icon_compass.icon_active {
  background: url('../img/common-s2100b5eb7b.png') 0 0 no-repeat;
  width: 52px;
  height: 43px;
}

/* line 105, ../sass/common.scss */
.icon_add {
  background: url('../img/common-s2100b5eb7b.png') 0 -1477px no-repeat;
  width: 52px;
  height: 44px;
  border: none;
  position: relative;
  left: 1px;
  background-color: #18a9df;
  margin-bottom: -1px;
}

/* line 113, ../sass/common.scss */
.icon_user {
  background: url('../img/common-s2100b5eb7b.png') 0 -1259px no-repeat;
  width: 52px;
  height: 43px;
}
/* line 115, ../sass/common.scss */
.icon_user.icon_active {
  background: url('../img/common-s2100b5eb7b.png') 0 -358px no-repeat;
  width: 52px;
  height: 43px;
}

/* line 119, ../sass/common.scss */
.icon_back {
  position: absolute;
  left: -53px;
  border-left: 1px solid #e3e3e3;
  border-right: none;
  background: url('../img/common-s2100b5eb7b.png') 0 -1839px no-repeat;
  width: 51px;
  height: 43px;
}

/* line 127, ../sass/common.scss */
.site {
  position: relative;
  z-index: 9;
  width: 1000px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05), 0 0 1px rgba(0, 0, 0, 0.2);
  padding: 43px 0 0px 0;
}

/* line 137, ../sass/common.scss */
.footer {
  text-align: center;
  padding: 20px 0;
}
/* line 140, ../sass/common.scss */
.footer .footer__narrative {
  display: inline-block;
  background: url('../img/common-s2100b5eb7b.png') 0 -699px no-repeat;
  width: 28px;
  height: 25px;
}
