@charset "IBM866";
/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* TRANSITION */
/* line 2, ../sass/notification.scss */
.top .top__title_m {
  width: 170px;
  margin-right: 3px;
}

/* line 6, ../sass/notification.scss */
.top .tabs-nav {
  margin: 7px 0 0;
  float: left;
}
/* line 9, ../sass/notification.scss */
.top .tabs-nav li {
  border-left: 1px solid #dadada;
  padding: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #f0f0f0));
  background-image: -webkit-linear-gradient(#fefefe, #f0f0f0);
  background-image: -moz-linear-gradient(#fefefe, #f0f0f0);
  background-image: -o-linear-gradient(#fefefe, #f0f0f0);
  background-image: linear-gradient(#fefefe, #f0f0f0);
}
/* line 13, ../sass/notification.scss */
.top .tabs-nav li a {
  text-decoration: none;
  color: #979797;
  padding: 4px 10px;
  display: block;
}
/* line 20, ../sass/notification.scss */
.top .tabs-nav li:hover {
  color: #1da9dd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #f8f8f8));
  background-image: -webkit-linear-gradient(#fefefe, #f8f8f8);
  background-image: -moz-linear-gradient(#fefefe, #f8f8f8);
  background-image: -o-linear-gradient(#fefefe, #f8f8f8);
  background-image: linear-gradient(#fefefe, #f8f8f8);
}
/* line 24, ../sass/notification.scss */
.top .tabs-nav .active a {
  color: #16AAE3;
}
/* line 25, ../sass/notification.scss */
.top .tabs-nav li:first-child {
  border: none;
}

/* line 30, ../sass/notification.scss */
.notif {
  width: 1000px;
  margin: 0 auto;
  height: 0;
  position: relative;
  z-index: 250;
  display: none;
}
/* line 37, ../sass/notification.scss */
.notif .mess-list {
  position: absolute;
  width: 490px;
  left: 10px;
  top: 53px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid #e8e8e8;
  box-shadow: 0 3px 18px rgba(0, 0, 0, 0.15);
}
/* line 47, ../sass/notification.scss */
.notif .mess {
  min-height: 86px;
}
/* line 49, ../sass/notification.scss */
.notif .mess .mess__text {
  width: 390px;
  margin-left: 75px;
}
/* line 52, ../sass/notification.scss */
.notif .mess .mess__text .mess__details {
  font-size: 12px;
  margin: 0;
}
/* line 56, ../sass/notification.scss */
.notif .mess .mess__text h1 {
  font-size: 18px;
  line-height: 1.2;
  color: #222;
}
/* line 61, ../sass/notification.scss */
.notif .mess .mess__text p {
  font-size: 16px;
  line-height: 1.5;
  margin: 4px 0 15px;
}
/* line 67, ../sass/notification.scss */
.notif .mess:first-child {
  border-radius: 4px 4px 0 0;
  border-top: 0;
}
/* line 71, ../sass/notification.scss */
.notif .mess:last-child {
  border-radius: 0 0 4px 4px;
}
/* line 72, ../sass/notification.scss */
.notif .mess .mess__user {
  left: 11px;
  top: 19px;
}
/* line 76, ../sass/notification.scss */
.notif .mess .mess__userpic {
  height: 47px;
  width: 47px;
}
/* line 80, ../sass/notification.scss */
.notif .mess .mess__text-holder {
  padding-top: 14px;
  margin-bottom: 15px;
}
/* line 84, ../sass/notification.scss */
.notif .mess .mess__time {
  right: 9px;
  bottom: 7px;
}
/* line 88, ../sass/notification.scss */
.notif .mess textarea {
  width: 362px;
  height: 83px;
}
/* line 92, ../sass/notification.scss */
.notif .mess .mess__visual {
  margin-bottom: 10px;
}
/* line 95, ../sass/notification.scss */
.notif form .button_reply {
  opacity: 1;
  position: static;
}
/* line 100, ../sass/notification.scss */
.notif .mess__userlist {
  padding: 8px 0 0;
  display: block;
  overflow: hidden;
}
/* line 104, ../sass/notification.scss */
.notif .mess__userlist .mess__userpic {
  width: 32px;
  height: 32px;
  border: 0;
  box-shadow: none;
  margin-right: 9px;
}
/* line 113, ../sass/notification.scss */
.notif .mess__visual_reply textarea {
  height: 20px;
}
/* line 115, ../sass/notification.scss */
.notif .load-more {
  margin-top: 0;
  text-align: left;
  padding: 14px 0 14px 75px;
}
/* line 119, ../sass/notification.scss */
.notif .load-more .button {
  padding: 2px 14px;
}
/* line 121, ../sass/notification.scss */
.notif .mess__meta {
  top: 10px;
  right: 12px;
}
/* line 125, ../sass/notification.scss */
.notif .mess__like {
  background: url('../img/common-s776d82c5d6.png') 0 -2338px no-repeat;
  width: 16px;
  height: 14px;
}
/* line 126, ../sass/notification.scss */
.notif .mess__share {
  background: url('../img/common-s776d82c5d6.png') 0 -2228px no-repeat;
  width: 21px;
  height: 14px;
}
/* line 127, ../sass/notification.scss */
.notif .mess__comment {
  background: url('../img/common-s776d82c5d6.png') 0 -2365px no-repeat;
  width: 15px;
  height: 15px;
}
/* line 128, ../sass/notification.scss */
.notif .mess-list__arr {
  height: 16px;
  width: 16px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 4px;
  position: absolute;
  left: 61px;
  top: -7px;
  background: #fbf9e5;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 140, ../sass/notification.scss */
.notif .notif_animation {
  background: #fff;
  -moz-animatiom: bgcolor 1s linear 0s 1 normal forwards;
  -webkit-animation: bgcolor 1s linear 0s 1 normal forwards;
  -o-animation: bgcolor 1s linear 0s 1 normal forwards;
  animation: bgcolor 1s linear 0s 1 normal forwards;
}
/* line 144, ../sass/notification.scss */
.notif .mess__author:hover .mess-list__arr {
  background: #fbfbfb;
}

@-moz-keyframes bgcolor {
  /* line 152, ../sass/notification.scss */
  from {
    background: #fbf9e5;
  }

  /* line 153, ../sass/notification.scss */
  to {
    background: #fff;
  }
}

@-webkit-keyframes bgcolor {
  /* line 157, ../sass/notification.scss */
  from {
    background: #fbf9e5;
  }

  /* line 158, ../sass/notification.scss */
  to {
    background: #fff;
  }
}

@-o-keyframes bgcolor {
  /* line 162, ../sass/notification.scss */
  from {
    background: #fbf9e5;
  }

  /* line 163, ../sass/notification.scss */
  to {
    background: #fff;
  }
}

@keyframes bgcolor {
  /* line 167, ../sass/notification.scss */
  from {
    background: #fbf9e5;
  }

  /* line 168, ../sass/notification.scss */
  to {
    background: #fff;
  }
}
