@charset "IBM866";
/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* TRANSITION */
/* line 3, ../sass/popups.scss */
.popup-wrap {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.42;
  height: 100%;
  width: 100%;
  z-index: 200;
}

/* line 13, ../sass/popups.scss */
.popup {
  position: absolute;
  left: 50%;
  width: 640px;
  margin-left: -320px;
  background: #f8f8f8;
  border-radius: 4px;
  box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.15);
  top: 160px;
  z-index: 250;
}
/* line 23, ../sass/popups.scss */
.popup .popup__close {
  background: url('../img/common-s000f685688.png') 0 -1695px no-repeat;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 12px;
  right: 13px;
  cursor: pointer;
}
/* line 30, ../sass/popups.scss */
.popup h1 {
  text-align: center;
  color: #9b9b9b;
  font: 30px/1.2 Cambria, georgia, serif;
  margin-bottom: 21px;
  padding-top: 17px;
  border-top: 1px solid #e5e5e5;
}
/* line 38, ../sass/popups.scss */
.popup .socail {
  float: left;
  font: 16px/37px Cambria, georgia, serif;
}
/* line 42, ../sass/popups.scss */
.popup .socail__user {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: -4px 5px 0 0;
  border-radius: 15px;
  vertical-align: middle;
}
/* line 50, ../sass/popups.scss */
.popup .reg-form .row_btn, .popup .row_btn {
  border-top: 1px solid #e5e5e5;
  margin: 9px -65px 0;
  text-align: center;
  padding: 20px 65px;
}
/* line 55, ../sass/popups.scss */
.popup .reg-form .row_btn .button, .popup .row_btn .button {
  padding: 6px 11px;
  height: 32px;
}
/* line 60, ../sass/popups.scss */
.popup .popup__header {
  padding: 30px 0 25px;
  text-align: center;
}
/* line 63, ../sass/popups.scss */
.popup .popup__header p {
  font: 16px/1.8 Cambria, georgia, serif;
  color: #8f8f8f;
  margin-bottom: 5px;
}
/* line 68, ../sass/popups.scss */
.popup .popup__header h2 {
  font: bold 18px Helvetica,sans-serif;
}
/* line 69, ../sass/popups.scss */
.popup .popup__header h1 {
  padding: 5px 0 0;
  border-top: none;
  margin: 0;
}
/* line 75, ../sass/popups.scss */
.popup .popup_reg__userpic {
  height: 120px;
  width: 120px;
  border-radius: 60px;
  border: 2px solid #fff;
  box-shadow: 0 24px 38px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0 auto 8px;
}
/* line 83, ../sass/popups.scss */
.popup .popup_reg__userpic .addphoto {
  right: -17px;
  bottom: -4px;
}
/* line 87, ../sass/popups.scss */
.popup .popup_reg__userpic .socail {
  position: absolute;
  right: -1px;
  bottom: -3px;
}

/* line 94, ../sass/popups.scss */
.social__fb {
  background: url('../img/common-s000f685688.png') 0 -172px no-repeat;
  width: 32px;
  height: 33px;
  cursor: pointer;
}

/* line 98, ../sass/popups.scss */
.social__tw {
  background: url('../img/common-s000f685688.png') 0 -43px no-repeat;
  width: 32px;
  height: 34px;
  cursor: pointer;
}

/* line 102, ../sass/popups.scss */
.reg-form {
  padding: 0 65px;
}
/* line 104, ../sass/popups.scss */
.reg-form h1 {
  margin: 0 -65px 21px;
  padding: 17px 65px 0;
}
/* line 108, ../sass/popups.scss */
.reg-form .row {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 13px;
}
/* line 114, ../sass/popups.scss */
.reg-form .label {
  color: #6d6d6d;
  font: 16px Cambria,georgia,serif;
  float: left;
  width: 75px;
  margin: 8px 17px 0 -6px;
  text-align: right;
}
/* line 122, ../sass/popups.scss */
.reg-form .input {
  background: #f2f2f2;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  width: 310px;
  padding: 7px 12px 9px;
  font: 16px/20px Cambria, georgia, serif;
  color: #000;
  float: left;
}
/* line 132, ../sass/popups.scss */
.reg-form .input-mess {
  position: absolute;
  top: 11px;
  left: 431px;
  font: 11px Helvetica,sans-serif;
  color: #808080;
}
/* line 138, ../sass/popups.scss */
.reg-form .input-mess span {
  display: inline-block;
  background: url('../img/common-s000f685688.png') 0 -1730px no-repeat;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: text-top;
  position: relative;
  top: -2px;
}
/* line 147, ../sass/popups.scss */
.reg-form .input-mess__error span {
  background: url('../img/common-s000f685688.png') 0 -1581px no-repeat;
  width: 17px;
  height: 17px;
}
/* line 148, ../sass/popups.scss */
.reg-form .input-inf {
  clear: both;
  display: block;
  font: 11px Helvetica,sans-serif;
  color: #b8b8b8;
  padding: 9px 0 2px 86px;
}
/* line 155, ../sass/popups.scss */
.reg-form .icon-location {
  background: url('../img/common-s000f685688.png') 0 -2041px no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 9px;
  left: 393px;
  cursor: pointer;
}
/* line 163, ../sass/popups.scss */
.reg-form .row_login .input {
  padding-left: 98px;
  width: 224px;
}
/* line 167, ../sass/popups.scss */
.reg-form .row_login .input-holder {
  color: #9a9a9a;
  font: 16px/20px Cambria, georgia, serif;
  position: absolute;
  top: 8px;
  left: 99px;
}
/* line 175, ../sass/popups.scss */
.reg-form .gender {
  float: left;
  list-style: none;
  margin-left: -4px;
  padding-bottom: 2px;
}
/* line 180, ../sass/popups.scss */
.reg-form .gender input {
  display: none;
}
/* line 181, ../sass/popups.scss */
.reg-form .gender li {
  float: left;
  border-right: 1px solid #e5e5e5;
  padding: 4px 6px 0 0;
  margin-right: 6px;
}
/* line 186, ../sass/popups.scss */
.reg-form .gender li:last-child {
  border: none;
}
/* line 187, ../sass/popups.scss */
.reg-form .gender li div {
  cursor: pointer;
  overflow: hidden;
  text-indent: -9999px;
}
/* line 193, ../sass/popups.scss */
.reg-form .gender .gender__male {
  background: url('../img/common-s000f685688.png') 0 -1184px no-repeat;
  width: 26px;
  height: 30px;
}
/* line 194, ../sass/popups.scss */
.reg-form .gender .active .gender__male {
  background: url('../img/common-s000f685688.png') 0 -531px no-repeat;
  width: 26px;
  height: 30px;
}
/* line 195, ../sass/popups.scss */
.reg-form .gender .gender__female {
  background: url('../img/common-s000f685688.png') 0 -1093px no-repeat;
  width: 26px;
  height: 30px;
}
/* line 196, ../sass/popups.scss */
.reg-form .gender .active .gender__female {
  background: url('../img/common-s000f685688.png') 0 -605px no-repeat;
  width: 26px;
  height: 30px;
}
/* line 199, ../sass/popups.scss */
.reg-form .privacy {
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  color: #17ace5;
  font: 16px Cambria,georgia,serif;
  float: left;
  padding: 9px 10px;
  width: 314px;
}
/* line 207, ../sass/popups.scss */
.reg-form .privacy label {
  margin-left: 4px;
}

/* line 210, ../sass/popups.scss */
.search-form {
  border: 1px solid #e5e5e5;
  border-width: 1px 0;
  padding: 20px 29px;
  position: relative;
}
/* line 215, ../sass/popups.scss */
.search-form .search-form__input {
  padding: 4px 15px;
  line-height: 20px;
  color: #929292;
  font: 12px Helvetica,sans-serif;
  border-radius: 14px;
  border: 1px solid #d5d5d5;
  background: #f2f2f2;
  width: 558px;
  height: 20px;
  display: block;
  outline: none;
}
/* line 228, ../sass/popups.scss */
.search-form .search-form__btn {
  position: absolute;
  right: 21px;
  top: 20px;
  background: url('../img/common-s000f685688.png') 0 -1938px no-repeat;
  width: 32px;
  height: 30px;
  border: none;
  font: 0/0 a;
  color: transparent;
  cursor: pointer;
}

/* line 241, ../sass/popups.scss */
.follow-form .row-check {
  float: left;
  width: 268px;
  padding: 11px 0;
  position: relative;
}
/* line 246, ../sass/popups.scss */
.follow-form .row-check .checkbox {
  float: left;
  margin: 6px 10px 0 0;
}
/* line 250, ../sass/popups.scss */
.follow-form .row-check label {
  font: bold 14px Helvetica,sans-serif;
}
/* line 252, ../sass/popups.scss */
.follow-form .row_btn {
  margin: 13px 0 0 -30px;
  padding: 20px 0 20px;
}
/* line 255, ../sass/popups.scss */
.follow-form .row_btn .button {
  padding: 7px 12px 7px;
}

/* line 258, ../sass/popups.scss */
.tabs-info {
  padding: 9px 0 0 30px;
  display: none;
}

/* line 263, ../sass/popups.scss */
.checked .checkbox {
  background: url('../img/common-s000f685688.png') 0 -1925px no-repeat;
  width: 13px;
  height: 13px;
}
/* line 264, ../sass/popups.scss */
.checked label {
  color: #16abe4;
}

/* line 266, ../sass/popups.scss */
.check {
  height: 13px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 13px;
}

/* line 274, ../sass/popups.scss */
.checkbox {
  background: url('../img/common-s000f685688.png') 0 -2280px no-repeat;
  width: 13px;
  height: 13px;
  position: relative;
  display: inline-block;
}

/* line 279, ../sass/popups.scss */
.scroll-pane {
  padding-top: 3px;
  width: 600px;
  height: 198px;
  overflow: auto;
}

/* Webkit-scrollbar */
/* line 286, ../sass/popups.scss */
.scroll-pane::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 4px;
}

/* line 291, ../sass/popups.scss */
.scroll-pane::-webkit-scrollbar:hover {
  background-color: #e7e7e7;
}

/* line 294, ../sass/popups.scss */
.scroll-pane::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  background-color: #adadad;
}

/* line 298, ../sass/popups.scss */
.scroll-pane::-webkit-scrollbar-thumb:hover {
  background-color: #868484;
}

/* line 301, ../sass/popups.scss */
.scroll-pane::-webkit-scrollbar-thumb:active {
  background-color: #868484;
}

/* line 304, ../sass/popups.scss */
.tabs-nav {
  list-style: none;
  border: 1px solid #dadada;
  border-radius: 4px;
  display: inline-block;
  margin: 6px auto -10px;
  box-shadow: 0 1px 0 0 #fff;
}
/* line 311, ../sass/popups.scss */
.tabs-nav li {
  color: #979797;
  float: left;
  border: 0;
  padding: 6px 10px;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: none;
  font-family: Helvetica,sans-serif;
}
/* line 321, ../sass/popups.scss */
.tabs-nav li:first-child {
  border-radius: 4px 0 0 4px;
}
/* line 322, ../sass/popups.scss */
.tabs-nav li:last-child {
  border-radius: 0 4px 4px 0;
}
/* line 324, ../sass/popups.scss */
.tabs-nav span {
  color: #cfcfcf;
}
/* line 325, ../sass/popups.scss */
.tabs-nav .active {
  color: #16aae3;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15) inset;
}

/* line 330, ../sass/popups.scss */
.invite {
  padding: 0 154px 60px 150px;
}
/* line 332, ../sass/popups.scss */
.invite .row {
  height: 36px;
  border: 1px solid #d3d3d3;
  margin-bottom: 20px;
  position: relative;
  border-radius: 3px;
}
/* line 338, ../sass/popups.scss */
.invite .row input {
  color: #808080;
  font: 16px Cambria,georgia,serif;
  border: none;
  background: #f2f2f2;
  height: 20px;
  line-height: 20px;
  padding: 8px 32px 8px 12px;
}
/* line 347, ../sass/popups.scss */
.invite .row .button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-family: Arial,sans-serif;
  padding: 5px 15px;
}
/* line 354, ../sass/popups.scss */
.invite .row span {
  font: 16px/36px Cambria, georgia, serif;
  margin-left: 12px;
}
/* line 358, ../sass/popups.scss */
.invite .row strong {
  font-size: 14px;
  color: #b3b3b3;
  float: right;
  line-height: 36px;
  margin-right: 18px;
  font-family: Arial,sans-serif;
}

/* line 370, ../sass/popups.scss */
.popup_invite .popup__header {
  padding: 55px 110px 10px;
}
/* line 372, ../sass/popups.scss */
.popup_invite .popup__header h1 {
  margin: 0 0 4px;
}
/* line 375, ../sass/popups.scss */
.popup_invite .popup__header p {
  line-height: 1.4;
}
