@charset "IBM866";
/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* TRANSITION */
/* line 3, ../sass/popups.scss */
.popup-wrap {
  position: fixed;
  top: 0;
  left: 0;
  background: #797979;
  opacity: 0.79;
  height: 100%;
  width: 100%;
  z-index: 200;
}

/* line 13, ../sass/popups.scss */
.popup-wrap-tr {
  position: fixed;
  top: 0;
  left: 0;
  background: none;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  display: none;
}

/* line 24, ../sass/popups.scss */
.popup {
  position: absolute;
  left: 50%;
  width: 640px;
  margin-left: -320px;
  background: #f8f8f8;
  border-radius: 4px;
  box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.15);
  top: 50%;
  z-index: 250;
}
/* line 34, ../sass/popups.scss */
.popup .popup__close {
  background: url('../img/common-s447a2e30b1.png') -330px -28px no-repeat;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 12px;
  right: 13px;
  cursor: pointer;
}
/* line 40, ../sass/popups.scss */
.popup .popup__close:hover {
  background: url('../img/common-s447a2e30b1.png') -347px -28px no-repeat;
  width: 17px;
  height: 17px;
}
/* line 44, ../sass/popups.scss */
.popup h1 {
  text-align: center;
  color: #9b9b9b;
  font: 30px/1.2 Cambria, georgia, serif;
  margin-bottom: 21px;
  padding-top: 17px;
  border-top: 1px solid #e5e5e5;
}
/* line 52, ../sass/popups.scss */
.popup .socail {
  float: left;
  font: 16px/37px Cambria, georgia, serif;
}
/* line 56, ../sass/popups.scss */
.popup .socail__user {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: -4px 5px 0 0;
  border-radius: 15px;
  vertical-align: middle;
}
/* line 64, ../sass/popups.scss */
.popup .reg-form .row_btn, .popup .row_btn {
  border-top: 1px solid #e5e5e5;
  margin: 40px -65px 0;
  text-align: center;
  padding: 20px 65px;
}
/* line 69, ../sass/popups.scss */
.popup .reg-form .row_btn .button, .popup .row_btn .button {
  padding: 0 13px;
  height: 32px;
}
/* line 73, ../sass/popups.scss */
.popup .reg-form .row_btn .button_save, .popup .row_btn .button_save {
  padding: 6px 14px;
}
/* line 77, ../sass/popups.scss */
.popup .popup__header {
  padding: 30px 0 25px;
  text-align: center;
}
/* line 80, ../sass/popups.scss */
.popup .popup__header p {
  font: 16px/1.8 Cambria, georgia, serif;
  color: #8f8f8f;
  margin-bottom: 5px;
}
/* line 85, ../sass/popups.scss */
.popup .popup__header h2 {
  font-size: 18px;
  font-weight: bold;
}
/* line 89, ../sass/popups.scss */
.popup .popup__header h1 {
  padding: 5px 0 0;
  border-top: none;
  margin: 0;
}
/* line 95, ../sass/popups.scss */
.popup .popup_reg__userpic {
  height: 120px;
  width: 120px;
  border-radius: 60px;
  border: 2px solid #fff;
  box-shadow: 0 24px 38px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0 auto 8px;
}
/* line 103, ../sass/popups.scss */
.popup .popup_reg__userpic .addphoto {
  right: -17px;
  bottom: -4px;
}
/* line 107, ../sass/popups.scss */
.popup .popup_reg__userpic .socail {
  position: absolute;
  right: -1px;
  bottom: -3px;
}

/* line 114, ../sass/popups.scss */
.social__fb {
  background: url('../img/common-s447a2e30b1.png') -273px -52px no-repeat;
  width: 32px;
  height: 33px;
  cursor: pointer;
}

/* line 118, ../sass/popups.scss */
.social__tw {
  background: url('../img/common-s447a2e30b1.png') -305px -52px no-repeat;
  width: 32px;
  height: 34px;
  cursor: pointer;
}

/* line 122, ../sass/popups.scss */
.reg-form {
  padding: 0 65px;
}
/* line 124, ../sass/popups.scss */
.reg-form h1 {
  margin: 0 -65px 21px;
  padding: 17px 65px 0;
}
/* line 128, ../sass/popups.scss */
.reg-form .row {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 20px;
}
/* line 135, ../sass/popups.scss */
.reg-form .label {
  color: #6d6d6d;
  font: 16px Cambria,georgia,serif;
  float: left;
  width: 75px;
  margin: 7px 17px 0 -6px;
  text-align: right;
}
/* line 143, ../sass/popups.scss */
.reg-form .input {
  background: #f2f2f2;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  width: 310px;
  padding: 7px 12px 9px;
  font: 16px/20px Cambria, georgia, serif;
  color: #000;
  float: left;
  outline: none;
}
/* line 155, ../sass/popups.scss */
.reg-form .input::-webkit-input-placeholder {
  /* для webkit браузеров */
  color: #000;
}
/* line 158, ../sass/popups.scss */
.reg-form .input:-moz-placeholder {
  /* для браузеров mozilla */
  color: #000;
}
/* line 161, ../sass/popups.scss */
.reg-form .input-mess {
  position: absolute;
  top: 11px;
  left: 431px;
  font-size: 11px;
  color: #808080;
}
/* line 167, ../sass/popups.scss */
.reg-form .input-mess span {
  display: inline-block;
  background: url('../img/common-s447a2e30b1.png') 0 -140px no-repeat;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: text-top;
  position: relative;
  top: -2px;
}
/* line 176, ../sass/popups.scss */
.reg-form .input-mess__error span {
  background: url('../img/common-s447a2e30b1.png') -364px -28px no-repeat;
  width: 17px;
  height: 17px;
}
/* line 177, ../sass/popups.scss */
.reg-form .input-inf {
  clear: both;
  display: block;
  font-size: 11px;
  color: #b8b8b8;
  padding: 6px 0 0 86px;
}
/* line 184, ../sass/popups.scss */
.reg-form .icon-location {
  background: url('../img/common-s447a2e30b1.png') -38px -1px no-repeat;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 10px;
  left: 393px;
  cursor: pointer;
}
/* line 192, ../sass/popups.scss */
.reg-form .row_login .input {
  padding-left: 98px;
  width: 224px;
}
/* line 196, ../sass/popups.scss */
.reg-form .row_login .input-holder {
  color: #9a9a9a;
  font: 16px/20px Cambria, georgia, serif;
  position: absolute;
  top: 8px;
  left: 99px;
}
/* line 204, ../sass/popups.scss */
.reg-form .gender {
  float: left;
  list-style: none;
  margin-left: -4px;
  padding-bottom: 2px;
}
/* line 209, ../sass/popups.scss */
.reg-form .gender input {
  display: none;
}
/* line 210, ../sass/popups.scss */
.reg-form .gender li {
  float: left;
  border-right: 1px solid #e5e5e5;
  padding: 4px 6px 0 0;
  margin-right: 6px;
}
/* line 215, ../sass/popups.scss */
.reg-form .gender li:last-child {
  border: none;
}
/* line 216, ../sass/popups.scss */
.reg-form .gender li div {
  cursor: pointer;
  overflow: hidden;
  text-indent: -9999px;
}
/* line 222, ../sass/popups.scss */
.reg-form .gender .gender__male {
  background: url('../img/common-s447a2e30b1.png') -221px -52px no-repeat;
  width: 26px;
  height: 30px;
}
/* line 223, ../sass/popups.scss */
.reg-form .gender .active .gender__male {
  background: url('../img/common-s447a2e30b1.png') -169px -52px no-repeat;
  width: 26px;
  height: 30px;
}
/* line 224, ../sass/popups.scss */
.reg-form .gender .gender__female {
  background: url('../img/common-s447a2e30b1.png') -247px -52px no-repeat;
  width: 26px;
  height: 30px;
}
/* line 225, ../sass/popups.scss */
.reg-form .gender .active .gender__female {
  background: url('../img/common-s447a2e30b1.png') -195px -52px no-repeat;
  width: 26px;
  height: 30px;
}
/* line 228, ../sass/popups.scss */
.reg-form .privacy {
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  color: #17ace5;
  font: 16px Cambria,georgia,serif;
  float: left;
  padding: 9px 10px;
  width: 314px;
}
/* line 236, ../sass/popups.scss */
.reg-form .privacy label {
  margin-left: 4px;
}

/* line 239, ../sass/popups.scss */
.search-form {
  border: 1px solid #e5e5e5;
  border-width: 1px 0;
  padding: 20px 29px;
  position: relative;
}
/* line 244, ../sass/popups.scss */
.search-form .search-form__input {
  padding: 4px 15px;
  line-height: 20px;
  color: #929292;
  font-size: 12px;
  border-radius: 14px;
  border: 1px solid #d5d5d5;
  background: #f2f2f2;
  width: 558px;
  height: 20px;
  display: block;
  outline: none;
}
/* line 257, ../sass/popups.scss */
.search-form .search-form__btn {
  position: absolute;
  right: 21px;
  top: 20px;
  background: url('../img/common-s447a2e30b1.png') -137px -52px no-repeat;
  width: 32px;
  height: 30px;
  border: none;
  font: 0/0 a;
  color: transparent;
  cursor: pointer;
}

/* line 270, ../sass/popups.scss */
.follow-form .row-check {
  float: left;
  width: 268px;
  padding: 11px 0;
  position: relative;
}
/* line 275, ../sass/popups.scss */
.follow-form .row-check .checkbox {
  float: left;
  margin: 6px 10px 0 0;
}
/* line 279, ../sass/popups.scss */
.follow-form .row-check label {
  font-weight: bold;
  font-size: 14px;
}
/* line 284, ../sass/popups.scss */
.follow-form .row_btn {
  margin: 26px 0 0 -30px;
  padding: 20px 0 20px;
}
/* line 287, ../sass/popups.scss */
.follow-form .row_btn .button {
  padding: 0 15px;
}

/* line 290, ../sass/popups.scss */
.tabs-info {
  padding: 9px 0 0 30px;
  display: none;
}

/* line 295, ../sass/popups.scss */
.checked .checkbox {
  background: url('../img/common-s447a2e30b1.png') -93px -28px no-repeat;
  width: 13px;
  height: 13px;
}
/* line 296, ../sass/popups.scss */
.checked label {
  color: #16abe4;
}

/* line 298, ../sass/popups.scss */
.check {
  height: 13px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 13px;
}

/* line 306, ../sass/popups.scss */
.checkbox {
  background: url('../img/common-s447a2e30b1.png') -106px -28px no-repeat;
  width: 13px;
  height: 13px;
  position: relative;
  display: inline-block;
}

/* line 311, ../sass/popups.scss */
.scroll-pane {
  padding-top: 3px;
  width: 600px;
  height: 198px;
  overflow: auto;
}

/* Webkit-scrollbar */
/* line 318, ../sass/popups.scss */
.scroll-pane::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 4px;
}

/* line 323, ../sass/popups.scss */
.scroll-pane::-webkit-scrollbar:hover {
  background-color: #e7e7e7;
}

/* line 326, ../sass/popups.scss */
.scroll-pane::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  background-color: #adadad;
}

/* line 330, ../sass/popups.scss */
.scroll-pane::-webkit-scrollbar-thumb:hover {
  background-color: #868484;
}

/* line 333, ../sass/popups.scss */
.scroll-pane::-webkit-scrollbar-thumb:active {
  background-color: #868484;
}

/* line 336, ../sass/popups.scss */
.tabs-nav {
  list-style: none;
  border: 1px solid #dadada;
  border-radius: 4px;
  display: inline-block;
  margin: 6px auto -10px;
  box-shadow: 0 1px 0 0 #fff;
}
/* line 343, ../sass/popups.scss */
.tabs-nav li {
  color: #979797;
  float: left;
  border: 0;
  padding: 6px 10px;
  font-size: 12px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0;
}
/* line 353, ../sass/popups.scss */
.tabs-nav li:first-child {
  border-radius: 4px 0 0 4px;
}
/* line 354, ../sass/popups.scss */
.tabs-nav li:last-child {
  border-radius: 0 4px 4px 0;
}
/* line 356, ../sass/popups.scss */
.tabs-nav span {
  color: #cfcfcf;
}
/* line 357, ../sass/popups.scss */
.tabs-nav .active {
  color: #16aae3;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15) inset;
}

/* line 362, ../sass/popups.scss */
.invite {
  padding: 0 154px 60px 150px;
}
/* line 364, ../sass/popups.scss */
.invite .row {
  height: 36px;
  border: 1px solid #d3d3d3;
  margin-bottom: 20px;
  position: relative;
  border-radius: 3px;
}
/* line 370, ../sass/popups.scss */
.invite .row input {
  color: #808080;
  font: 16px Cambria,georgia,serif;
  border: none;
  background: #f2f2f2;
  height: 20px;
  line-height: 20px;
  padding: 8px 82px 8px 12px;
  outline: none;
}
/* line 380, ../sass/popups.scss */
.invite .row .button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-family: Arial,sans-serif;
  padding: 5px 15px;
}
/* line 387, ../sass/popups.scss */
.invite .row span {
  font: 16px/36px Cambria, georgia, serif;
  margin-left: 12px;
}
/* line 391, ../sass/popups.scss */
.invite .row strong {
  font-size: 14px;
  color: #b3b3b3;
  float: right;
  line-height: 36px;
  margin-right: 18px;
  font-family: Arial,sans-serif;
}

/* line 402, ../sass/popups.scss */
.popup_invite .popup__header {
  padding: 55px 110px 10px;
}
/* line 404, ../sass/popups.scss */
.popup_invite .popup__header h1 {
  margin: 0 0 4px;
}
/* line 405, ../sass/popups.scss */
.popup_invite .popup__header p {
  line-height: 1.4;
}

/* line 408, ../sass/popups.scss */
.popup_bottom {
  position: fixed;
  bottom: 27px;
  top: auto;
}

/* line 413, ../sass/popups.scss */
.popup_top {
  position: absolute;
  bottom: auto;
  top: 70px;
  margin-top: 0;
}

/* line 419, ../sass/popups.scss */
.popup_center {
  position: fixed;
}

/* line 422, ../sass/popups.scss */
.popup_users {
  width: 480px;
  background: #fff;
  display: none;
}
/* line 426, ../sass/popups.scss */
.popup_users .popup_users__top {
  height: 41px;
  border-bottom: 1px solid #ebebeb;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f7f7f7));
  background-image: -webkit-linear-gradient(#ffffff, #f7f7f7);
  background-image: -moz-linear-gradient(#ffffff, #f7f7f7);
  background-image: -o-linear-gradient(#ffffff, #f7f7f7);
  background-image: linear-gradient(#ffffff, #f7f7f7);
  border-radius: 4px 4px 0 0;
  font-size: 14px;
  font-weight: bold;
  padding: 0 0 0 15px;
  color: #a0a0a0;
  line-height: 41px;
  position: relative;
}
/* line 438, ../sass/popups.scss */
.popup_users .likeicon, .popup_users .commenticon, .popup_users .shareicon, .popup_users .viewsicon {
  position: absolute;
  top: 50%;
  left: 50%;
}
/* line 443, ../sass/popups.scss */
.popup_users .likeicon {
  background: url('../img/common-s447a2e30b1.png') -397px -28px no-repeat;
  width: 21px;
  height: 18px;
  margin: -9px 0 0 -10px;
}
/* line 447, ../sass/popups.scss */
.popup_users .commenticon {
  background: url('../img/common-s447a2e30b1.png') -56px -1px no-repeat;
  width: 18px;
  height: 19px;
  margin: -12px 0 0 -9px;
}
/* line 451, ../sass/popups.scss */
.popup_users .shareicon {
  background: url('../img/common-s447a2e30b1.png') -92px -97px no-repeat;
  width: 31px;
  height: 24px;
  margin: -12px 0 0 -15px;
}
/* line 455, ../sass/popups.scss */
.popup_users .viewsicon {
  background: url('../img/common-s447a2e30b1.png') -196px -28px no-repeat;
  width: 27px;
  height: 16px;
  margin: -8px 0 0 -14px;
}

/* line 460, ../sass/popups.scss */
.users {
  border-radius: 0 0 4px 4px;
  height: 360px;
  width: 476px;
  padding: 0;
}
/* line 465, ../sass/popups.scss */
.users .users__item {
  overflow: hidden;
  border-bottom: 1px solid #ebebeb;
  height: 59px;
  line-height: 59px;
  padding: 0 0 0 15px;
  width: 444px;
}
/* line 472, ../sass/popups.scss */
.users .users__item:last-child {
  border-radius: 0 0 4px 4px;
}
/* line 476, ../sass/popups.scss */
.users .users__pic {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  vertical-align: middle;
}
/* line 483, ../sass/popups.scss */
.users .users__name {
  font-size: 14px;
  color: #000;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}
/* line 491, ../sass/popups.scss */
.users .button {
  width: 100px;
  padding: 4px 0;
  text-align: center;
  font-size: 11px;
  float: right;
  margin-top: 15px;
}
