/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* line 5, /Users/akella/Desktop/git/narrative/sass/common.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

/* line 6, /Users/akella/Desktop/git/narrative/sass/common.scss */
body {
  font-family: "Myriad Pro", arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
  background: #ebebeb;
}

/*resets*/
/* line 16, /Users/akella/Desktop/git/narrative/sass/common.scss */
a img, fieldset {
  border: none;
}

/* line 19, /Users/akella/Desktop/git/narrative/sass/common.scss */
a {
  color: #00919e;
}
/* line 21, /Users/akella/Desktop/git/narrative/sass/common.scss */
a:hover {
  text-decoration: none;
}

/* line 26, /Users/akella/Desktop/git/narrative/sass/common.scss */
.top {
  height: 43px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f7f7f7));
  background-image: -webkit-linear-gradient(#ffffff, #f7f7f7);
  background-image: -moz-linear-gradient(#ffffff, #f7f7f7);
  background-image: -o-linear-gradient(#ffffff, #f7f7f7);
  background-image: -ms-linear-gradient(#ffffff, #f7f7f7);
  background-image: linear-gradient(#ffffff, #f7f7f7);
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  overflow: visible;
  position: relative;
  z-index: 10;
}
/* line 34, /Users/akella/Desktop/git/narrative/sass/common.scss */
.top .top__in {
  width: 1000px;
  margin: 0 auto;
  height: 43px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
}
/* line 42, /Users/akella/Desktop/git/narrative/sass/common.scss */
.top .top__title {
  float: left;
  font-size: 16px;
  font-weight: bold;
  font-family: Helvetica,sans-serif;
  color: #a0a0a0;
  padding-left: 20px;
  line-height: 43px;
  height: 43px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  white-space: nowrap;
  width: 685px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 58, /Users/akella/Desktop/git/narrative/sass/common.scss */
.icon {
  width: 43px;
  height: 43px;
  float: left;
  border-right: 1px solid #e3e3e3;
  cursor: pointer;
}

/* line 65, /Users/akella/Desktop/git/narrative/sass/common.scss */
.icon_right {
  float: right;
  border-right: none;
  border-left: 1px solid #e3e3e3;
}

/* line 70, /Users/akella/Desktop/git/narrative/sass/common.scss */
.icon_home {
  background: url('../img/common-sb4a6eb0815.png') 0 -363px no-repeat;
  width: 52px;
  height: 43px;
}

/* line 73, /Users/akella/Desktop/git/narrative/sass/common.scss */
.icon_comments {
  background: url('../img/common-sb4a6eb0815.png') 0 -147px no-repeat;
  width: 52px;
  height: 43px;
}

/* line 76, /Users/akella/Desktop/git/narrative/sass/common.scss */
.icon_compass {
  background: url('../img/common-sb4a6eb0815.png') 0 0 no-repeat;
  width: 52px;
  height: 43px;
}

/* line 79, /Users/akella/Desktop/git/narrative/sass/common.scss */
.icon_add {
  background: url('../img/common-sb4a6eb0815.png') 0 -426px no-repeat;
  width: 52px;
  height: 43px;
  border: none;
  position: relative;
  left: 1px;
}

/* line 85, /Users/akella/Desktop/git/narrative/sass/common.scss */
.icon_user {
  background: url('../img/common-sb4a6eb0815.png') 0 -235px no-repeat;
  width: 52px;
  height: 43px;
}

/* line 89, /Users/akella/Desktop/git/narrative/sass/common.scss */
.site {
  position: relative;
  z-index: 9;
  width: 1000px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  padding: 34px 0 0px 0;
}

/* line 99, /Users/akella/Desktop/git/narrative/sass/common.scss */
.footer {
  text-align: center;
  padding: 20px 0;
}
/* line 102, /Users/akella/Desktop/git/narrative/sass/common.scss */
.footer .footer__narrative {
  display: inline-block;
  background: url('../img/common-sb4a6eb0815.png') 0 -105px no-repeat;
  width: 28px;
  height: 25px;
}

/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* default layout */
/* line 4, /Users/akella/Desktop/git/narrative/sass/layouts.scss */
.l {
  width: 100%;
  display: inline-block;
}
/* line 8, /Users/akella/Desktop/git/narrative/sass/layouts.scss */
.l .l-col1 {
  float: left;
  width: 140px;
}
/* line 13, /Users/akella/Desktop/git/narrative/sass/layouts.scss */
.l .l-col2 {
  float: right;
  width: 820px;
}

/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* line 2, /Users/akella/Desktop/git/narrative/sass/story.scss */
.author {
  text-align: center;
  padding-bottom: 34px;
  border-bottom: 1px solid #e5e5e5;
  font-family: Helvetica,sans-serif;
  width: 640px;
  margin: 0 auto 33px auto;
}
/* line 9, /Users/akella/Desktop/git/narrative/sass/story.scss */
.author .author__pic {
  border-radius: 50px;
  border: 2px solid #ddd;
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: bottom;
}
/* line 17, /Users/akella/Desktop/git/narrative/sass/story.scss */
.author .author__name {
  font-weight: bold;
  font-size: 18px;
  margin: 6px 0 6px 0;
}
/* line 22, /Users/akella/Desktop/git/narrative/sass/story.scss */
.author .published {
  font-size: 11px;
  color: #d7d7d7;
}

/* line 27, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content {
  width: 640px;
  margin: 0 auto -15px auto;
  font-family: Cambria,georgia,serif;
  font-size: 18px;
  line-height: 1.5;
}
/* line 33, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content h1 {
  font-size: 44px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 20px;
}
/* line 39, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content h2 {
  font-size: 35px;
  border-top: 1px solid #e5e5e5;
  padding-top: 28px;
  margin-top: 35px;
  font-weight: normal;
  line-height: 1.3;
}
/* line 47, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content h3 {
  font-size: 25px;
  font-weight: normal;
  margin: 17px 0 15px 0;
  line-height: 1.3;
}
/* line 53, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content .lead {
  font-size: 25px;
}
/* line 56, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content p {
  margin-bottom: 1em;
}
/* line 59, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content figure {
  margin: 30px 0;
}
/* line 61, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content figure img {
  display: block;
  vertical-align: bottom;
}
/* line 65, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content figure figcaption {
  width: 536px;
  margin: 0 auto;
  font-size: 16px;
  color: #6d6d6d;
  margin-top: 16px;
}
/* line 73, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content .figure_wide {
  margin: 30px -180px;
  text-align: center;
}
/* line 76, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content .figure_wide figcaption {
  text-align: left;
}
/* line 24, /Users/akella/Desktop/git/narrative/sass/_base.scss */
.post__content .figure_many:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 82, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content .figure_many img {
  float: left;
}
/* line 86, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content li {
  padding: 18px 0;
  border-top: 1px dotted #dbdbdb;
  position: relative;
}
/* line 91, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content ol {
  list-style: none;
  counter-reset: ul 0;
}
/* line 95, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content ol li:before {
  counter-increment: ul 1;
  content: counter(ul, decimal) ".";
  font-size: 18px;
  color: #b9b9b9;
  width: 30px;
  position: absolute;
  left: -20px;
  text-align: left;
}
/* line 107, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content ul {
  list-style: none;
}
/* line 110, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content ul li:before {
  content: '•';
  position: absolute;
  left: -14px;
  color: #b9b9b9;
  text-align: left;
}
/* line 119, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content .slider {
  position: relative;
  margin: 30px -180px 0 -180px;
}
/* line 122, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content .slider .slider__next, .post__content .slider .slider__prev {
  padding: 13px 20px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 260px;
  z-index: 50;
  cursor: pointer;
}
/* line 130, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content .slider .slider__next span, .post__content .slider .slider__prev span {
  float: left;
}
/* line 134, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content .slider .slider__slides {
  min-height: 456px;
}
/* line 137, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content .slider .slider__slide {
  text-align: center;
  width: 1000px;
}
/* line 141, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content .slider .slider__next {
  right: 57px;
}
/* line 143, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content .slider .slider__next span {
  background: url('../img/common-sb4a6eb0815.png') 0 -318px no-repeat;
  width: 24px;
  height: 45px;
}
/* line 147, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content .slider .slider__prev {
  left: 57px;
}
/* line 149, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content .slider .slider__prev span {
  background: url('../img/common-sb4a6eb0815.png') 0 -190px no-repeat;
  width: 24px;
  height: 45px;
}
/* line 154, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content .slider__info {
  text-align: center;
  font-size: 18px;
  padding: 12px 0 14px 0;
  border-bottom: 1px solid #e5e5e5;
  line-height: 1;
  width: 640px;
  margin: 0 auto 16px auto;
}
/* line 163, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__content .slider__descr {
  width: 536px;
  margin: 0 auto;
  font-size: 16px;
  color: #6d6d6d;
}

/* line 170, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__tags {
  list-style: none;
  padding-right: 20px;
  text-align: right;
}
/* line 174, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__tags li {
  display: inline-block;
}
/* line 177, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__tags a {
  display: inline-block;
  font-family: "Myriad Pro", arial,sans-serif;
  font-size: 12px;
  color: #939393;
  background: #f8f8f8;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  text-decoration: none;
  line-height: 1;
  padding: 3px 10px;
  margin-left: 5px;
}

/* line 191, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__bottom {
  border-top: 1px solid #e5e5e5;
  height: 50px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

/* line 198, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__togglesocial {
  position: absolute;
  font-size: 14px;
  right: 20px;
  text-align: right;
  color: #13b3ee;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  top: 0;
  height: 50px;
  line-height: 50px;
}
/* line 209, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__togglesocial span {
  background: url('../img/common-sb4a6eb0815.png') 0 -67px no-repeat;
  width: 27px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
  position: relative;
  top: -2px;
}

/* line 218, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__socials {
  background: #d0d0d0;
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.3);
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
  padding: 17px 0 17px 0;
  text-align: center;
}

/* line 226, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__comment {
  cursor: pointer;
  padding: 0 17px;
  color: #abafb1;
  font-family: Helvetica,sans-serif;
  font-size: 14px;
  font-weight: bold;
  float: left;
  height: 50px;
  line-height: 50px;
  border-right: 1px solid #e5e5e5;
}
/* line 237, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__comment .post__commenticon {
  display: inline-block;
  background: url('../img/common-sb4a6eb0815.png') 0 -489px no-repeat;
  width: 18px;
  height: 19px;
  vertical-align: middle;
  margin-right: 3px;
}

/* line 244, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__likes {
  float: left;
  padding: 8px 17px 0 13px;
  height: 42px;
  border-right: 1px solid #e5e5e5;
  color: #abafb1;
  font-size: 14px;
  font-weight: bold;
}
/* line 252, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__likes * {
  vertical-align: top;
}
/* line 255, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__likes .post__likesicon {
  background: url('../img/common-sb4a6eb0815.png') 0 -43px no-repeat;
  width: 28px;
  height: 24px;
  display: inline-block;
  margin-right: 8px;
  margin-top: 4px;
}
/* line 261, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__likes .post__likes-more {
  line-height: 1;
  display: inline-block;
  padding-top: 9px;
}

/* line 267, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__share {
  float: left;
  padding: 8px 17px 0 17px;
  height: 42px;
  border-right: 1px solid #e5e5e5;
}
/* line 272, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__share .post__shareicon {
  background: url('../img/common-sb4a6eb0815.png') 0 -130px no-repeat;
  width: 25px;
  height: 17px;
  display: inline-block;
  margin-right: 12px;
  float: left;
  margin-top: 7px;
}
/* line 279, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__share .smalluser {
  float: left;
}

/* line 283, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__views {
  padding-left: 15px;
  font-weight: bold;
  font-size: 14px;
  padding-top: 14px;
  color: #abafb1;
  font-family: Helvetica,sans-serif;
  float: left;
}
/* line 291, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__views .post__viewsicon {
  background: url('../img/common-sb4a6eb0815.png') 0 -89px no-repeat;
  width: 27px;
  height: 16px;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}
/* line 297, /Users/akella/Desktop/git/narrative/sass/story.scss */
.post__views .smalluser {
  float: left;
}

/* line 301, /Users/akella/Desktop/git/narrative/sass/story.scss */
.smalluser {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  margin-right: 8px;
}
/* line 306, /Users/akella/Desktop/git/narrative/sass/story.scss */
.smalluser img {
  display: inline-block;
  border-radius: 30px;
}

/* line 312, /Users/akella/Desktop/git/narrative/sass/story.scss */
.comment {
  background: #f8f8f8;
  position: relative;
  padding: 50px 0 36px;
}
/* line 316, /Users/akella/Desktop/git/narrative/sass/story.scss */
.comment .comment__user {
  position: absolute;
  top: 18px;
  left: 18px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 326, /Users/akella/Desktop/git/narrative/sass/story.scss */
.comment form {
  width: 640px;
  margin: auto;
}
/* line 330, /Users/akella/Desktop/git/narrative/sass/story.scss */
.comment textarea {
  background: #f2f2f2;
  border: 1px solid #d3d3d3;
  height: 140px;
  width: 606px;
  padding: 10px 16px;
  font-size: 16px;
  font-family: Cambria,georgia,serif;
  border-radius: 3px;
  display: block;
}
/* line 341, /Users/akella/Desktop/git/narrative/sass/story.scss */
.comment .comment__visual {
  margin-bottom: 14px;
  position: relative;
}

/* line 346, /Users/akella/Desktop/git/narrative/sass/story.scss */
.textformat {
  border: 1px solid #d9d9d9;
  box-shadow: 0 1px 0 #fff;
  position: absolute;
  top: 10px;
  right: 13px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: linear-gradient(#f8f8f8, #f1f1f1);
  height: 20px;
  font-size: 0;
}
/* line 355, /Users/akella/Desktop/git/narrative/sass/story.scss */
.textformat .textformat__icon {
  display: inline-block;
  height: 20px;
  width: 27px;
  border-left: 1px solid #dfdfdf;
}
/* line 360, /Users/akella/Desktop/git/narrative/sass/story.scss */
.textformat .textformat__icon:first-child {
  border: none;
}
/* line 363, /Users/akella/Desktop/git/narrative/sass/story.scss */
.textformat .textformat__icon:hover {
  background: #fff;
}
/* line 367, /Users/akella/Desktop/git/narrative/sass/story.scss */
.textformat .textformat__bold {
  background: url('../img/common-sb4a6eb0815.png') 0 -508px no-repeat;
  width: 28px;
  height: 20px;
}
/* line 369, /Users/akella/Desktop/git/narrative/sass/story.scss */
.textformat .textformat__bold:hover {
  background: url('../img/common-sb4a6eb0815.png') 0 -298px no-repeat;
  width: 28px;
  height: 20px;
}
/* line 373, /Users/akella/Desktop/git/narrative/sass/story.scss */
.textformat .textformat__list {
  background: url('../img/common-sb4a6eb0815.png') 0 -548px no-repeat;
  width: 28px;
  height: 20px;
}
/* line 375, /Users/akella/Desktop/git/narrative/sass/story.scss */
.textformat .textformat__list:hover {
  background: url('../img/common-sb4a6eb0815.png') 0 -278px no-repeat;
  width: 28px;
  height: 20px;
}
/* line 379, /Users/akella/Desktop/git/narrative/sass/story.scss */
.textformat .textformat__italic {
  background: url('../img/common-sb4a6eb0815.png') 0 -528px no-repeat;
  width: 27px;
  height: 20px;
}
/* line 381, /Users/akella/Desktop/git/narrative/sass/story.scss */
.textformat .textformat__italic:hover {
  background: url('../img/common-sb4a6eb0815.png') 0 -469px no-repeat;
  width: 27px;
  height: 20px;
}

/* line 386, /Users/akella/Desktop/git/narrative/sass/story.scss */
.addphoto {
  background: url('../img/common-sb4a6eb0815.png') 0 -406px no-repeat;
  width: 23px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  right: 13px;
  cursor: pointer;
}

/* line 393, /Users/akella/Desktop/git/narrative/sass/story.scss */
.button {
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  color: #9c9c9c;
  padding: 7px 15px;
  display: inline-block;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  -webkit-appearance: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: linear-gradient(#f8f8f8, #f1f1f1);
  box-shadow: 0 1px 0 #fff;
  vertical-align: top;
}
/* line 406, /Users/akella/Desktop/git/narrative/sass/story.scss */
.button:hover {
  color: #1da9dd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #f8f8f8));
  background-image: -webkit-linear-gradient(#fefefe, #f8f8f8);
  background-image: -moz-linear-gradient(#fefefe, #f8f8f8);
  background-image: -o-linear-gradient(#fefefe, #f8f8f8);
  background-image: -ms-linear-gradient(#fefefe, #f8f8f8);
  background-image: linear-gradient(#fefefe, #f8f8f8);
}

/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* line 2, /Users/akella/Desktop/git/narrative/sass/ie.scss */
.lteie8 body {
  background: red;
}
