@charset "IBM866";
/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* TRANSITION */
@-webkit-keyframes rotate {
  /* line 3, ../sass/story.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 6, ../sass/story.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  /* line 11, ../sass/story.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 14, ../sass/story.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  /* line 19, ../sass/story.scss */
  from {
    -o-transform: rotate(0deg);
  }

  /* line 22, ../sass/story.scss */
  to {
    -o-transform: rotate(360deg);
  }
}

/* line 26, ../sass/story.scss */
.author {
  text-align: center;
  padding-bottom: 34px;
  border-bottom: 1px solid #e5e5e5;
  font-family: Helvetica,sans-serif;
  width: 640px;
  margin: 0 auto 33px auto;
}
/* line 33, ../sass/story.scss */
.author .author__pic {
  border-radius: 50px;
  border: 2px solid #ddd;
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: bottom;
}
/* line 41, ../sass/story.scss */
.author .author__name {
  font-weight: bold;
  font-size: 18px;
  margin: 6px 0 6px 0;
}
/* line 46, ../sass/story.scss */
.author .published {
  font-size: 11px;
  color: #d7d7d7;
}

/* line 51, ../sass/story.scss */
.post {
  padding-top: 34px;
}

/* line 54, ../sass/story.scss */
.post__content {
  width: 640px;
  margin: 0 auto -14px auto;
  font-family: Cambria,georgia,serif;
  font-size: 18px;
  line-height: 1.5;
}
/* line 60, ../sass/story.scss */
.post__content h1 {
  font-size: 44px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 20px;
}
/* line 66, ../sass/story.scss */
.post__content h2 {
  font-size: 35px;
  border-top: 1px solid #e5e5e5;
  padding-top: 28px;
  margin-top: 35px;
  font-weight: normal;
  line-height: 1.3;
}
/* line 74, ../sass/story.scss */
.post__content h3 {
  font-size: 25px;
  font-weight: normal;
  margin: 17px 0 15px 0;
  line-height: 1.3;
}
/* line 80, ../sass/story.scss */
.post__content .lead {
  font-size: 25px;
}
/* line 83, ../sass/story.scss */
.post__content p {
  margin-bottom: 1em;
}
/* line 86, ../sass/story.scss */
.post__content figure {
  margin: 30px 0;
}
/* line 88, ../sass/story.scss */
.post__content figure img {
  display: block;
  vertical-align: bottom;
}
/* line 92, ../sass/story.scss */
.post__content figure figcaption {
  width: 536px;
  margin: 0 auto;
  font-size: 16px;
  color: #6d6d6d;
  margin-top: 16px;
}
/* line 100, ../sass/story.scss */
.post__content .figure_wide {
  margin: 30px -180px;
  text-align: center;
}
/* line 103, ../sass/story.scss */
.post__content .figure_wide figcaption {
  text-align: left;
}
/* line 38, ../sass/_base.scss */
.post__content .figure_many:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 109, ../sass/story.scss */
.post__content .figure_many img {
  float: left;
}
/* line 113, ../sass/story.scss */
.post__content li {
  padding: 18px 0;
  border-top: 1px dotted #dbdbdb;
  position: relative;
}
/* line 118, ../sass/story.scss */
.post__content ol {
  list-style: none;
  counter-reset: ul 0;
}
/* line 122, ../sass/story.scss */
.post__content ol li:before {
  counter-increment: ul 1;
  content: counter(ul, decimal) ".";
  font-size: 18px;
  color: #b9b9b9;
  width: 30px;
  position: absolute;
  left: -20px;
  text-align: left;
}
/* line 134, ../sass/story.scss */
.post__content ul {
  list-style: none;
}
/* line 137, ../sass/story.scss */
.post__content ul li:before {
  content: '•';
  position: absolute;
  left: -14px;
  color: #b9b9b9;
  text-align: left;
}
/* line 146, ../sass/story.scss */
.post__content .slider {
  position: relative;
  margin: 30px -180px 0 -180px;
}
/* line 149, ../sass/story.scss */
.post__content .slider .slider__next, .post__content .slider .slider__prev {
  padding: 13px 20px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 260px;
  z-index: 50;
  cursor: pointer;
}
/* line 157, ../sass/story.scss */
.post__content .slider .slider__next span, .post__content .slider .slider__prev span {
  float: left;
}
/* line 161, ../sass/story.scss */
.post__content .slider .slider__slides {
  min-height: 456px;
}
/* line 164, ../sass/story.scss */
.post__content .slider .slider__slide {
  text-align: center;
  width: 1000px;
}
/* line 168, ../sass/story.scss */
.post__content .slider .slider__next {
  right: 57px;
}
/* line 170, ../sass/story.scss */
.post__content .slider .slider__next span {
  background: url('../img/common-s0650aef3c5.png') 0 -1369px no-repeat;
  width: 24px;
  height: 45px;
}
/* line 174, ../sass/story.scss */
.post__content .slider .slider__prev {
  left: 57px;
}
/* line 176, ../sass/story.scss */
.post__content .slider .slider__prev span {
  background: url('../img/common-s0650aef3c5.png') 0 -1139px no-repeat;
  width: 24px;
  height: 45px;
}
/* line 181, ../sass/story.scss */
.post__content .slider__info {
  text-align: center;
  font-size: 18px;
  padding: 12px 0 14px 0;
  border-bottom: 1px solid #e5e5e5;
  line-height: 1;
  width: 640px;
  margin: 0 auto 16px auto;
}
/* line 190, ../sass/story.scss */
.post__content .slider__descr {
  width: 536px;
  margin: 0 auto;
  font-size: 16px;
  color: #6d6d6d;
}

/* line 197, ../sass/story.scss */
.post__tags {
  list-style: none;
  padding-right: 20px;
  text-align: right;
}
/* line 201, ../sass/story.scss */
.post__tags li {
  display: inline-block;
}
/* line 204, ../sass/story.scss */
.post__tags a {
  display: inline-block;
  font-family: Helvetica,arial,sans-serif;
  font-size: 12px;
  color: #939393;
  background: #f8f8f8;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  text-decoration: none;
  line-height: 1;
  padding: 3px 9px 4px;
  margin-left: 5px;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 217, ../sass/story.scss */
.post__tags a:hover {
  color: #16b1ea;
  border-color: #16b1ea;
}

/* line 223, ../sass/story.scss */
.post__bottom {
  border-top: 1px solid #e5e5e5;
  height: 50px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  font-family: Helvetica,sans-serif;
}

/* line 231, ../sass/story.scss */
.post__togglesocial {
  position: absolute;
  font-size: 14px;
  right: 15px;
  text-align: right;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  top: 0;
  height: 50px;
  line-height: 50px;
  color: #a1a1a1;
  cursor: pointer;
}
/* line 243, ../sass/story.scss */
.post__togglesocial span {
  background: url('../img/common-s0650aef3c5.png') 0 -1520px no-repeat;
  width: 21px;
  height: 17px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
  position: relative;
  top: -2px;
  margin-right: 3px;
  margin-left: 4px;
}
/* line 253, ../sass/story.scss */
.post__togglesocial:hover {
  color: #13b3ee;
}
/* line 255, ../sass/story.scss */
.post__togglesocial:hover span {
  background: url('../img/common-s0650aef3c5.png') 0 -481px no-repeat;
  width: 27px;
  height: 22px;
  margin-left: 1px;
  margin-right: 0;
}

/* line 263, ../sass/story.scss */
.post__socials {
  background: #d0d0d0;
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #adadad;
  margin-bottom: -1px;
  border-top: 1px solid #adadad;
  padding: 17px 0 17px 0;
  text-align: center;
  position: relative;
  z-index: 2;
}

/* line 274, ../sass/story.scss */
.post__comment {
  cursor: pointer;
  padding: 0 18px 0 19px;
  color: #abafb1;
  font-family: Helvetica,sans-serif;
  font-size: 14px;
  font-weight: bold;
  float: left;
  height: 50px;
  line-height: 50px;
  border-right: 1px solid #e5e5e5;
}

/* line 286, ../sass/story.scss */
.post__commenticon {
  display: inline-block;
  background: url('../img/common-s0650aef3c5.png') 0 -1967px no-repeat;
  width: 18px;
  height: 19px;
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
  top: 1px;
}

/* line 294, ../sass/story.scss */
.post__likes {
  float: left;
  padding: 10px 18px 0 16px;
  height: 42px;
  border-right: 1px solid #e5e5e5;
  color: #abafb1;
  font-size: 14px;
  font-weight: bold;
}
/* line 302, ../sass/story.scss */
.post__likes * {
  vertical-align: top;
}
/* line 305, ../sass/story.scss */
.post__likes .post__likesicon {
  background: url('../img/common-s0650aef3c5.png') 0 -2058px no-repeat;
  width: 21px;
  height: 18px;
  position: relative;
  top: 7px;
  margin-right: 12px;
  margin-left: 3px;
  display: inline-block;
}
/* line 313, ../sass/story.scss */
.post__likes .post__likes-more {
  line-height: 1;
  display: inline-block;
  padding-top: 7px;
}
/* line 319, ../sass/story.scss */
.post__likes:hover .post__likesicon {
  background: url('../img/common-s0650aef3c5.png') 0 -457px no-repeat;
  width: 28px;
  height: 24px;
  margin-right: 8px;
  margin-top: 4px;
  margin-left: 0;
  top: 0;
}

/* line 328, ../sass/story.scss */
.post__share {
  float: left;
  padding: 10px 10px 0 15px;
  height: 42px;
  border-right: 1px solid #e5e5e5;
}
/* line 333, ../sass/story.scss */
.post__share .post__shareicon {
  background: url('../img/common-s0650aef3c5.png') 0 -788px no-repeat;
  width: 31px;
  height: 24px;
  display: inline-block;
  margin-right: 11px;
  float: left;
  margin-top: 3px;
}
/* line 340, ../sass/story.scss */
.post__share .smalluser {
  float: left;
}
/* line 344, ../sass/story.scss */
.post__share:hover .post__shareicon {
  background: url('../img/common-s0650aef3c5.png') 0 -248px no-repeat;
  width: 31px;
  height: 24px;
}

/* line 349, ../sass/story.scss */
.post__views {
  padding-left: 20px;
  font-weight: bold;
  font-size: 14px;
  padding-top: 14px;
  color: #abafb1;
  font-family: Helvetica,sans-serif;
  float: left;
}
/* line 357, ../sass/story.scss */
.post__views .post__viewsicon {
  background: url('../img/common-s0650aef3c5.png') 0 -561px no-repeat;
  width: 27px;
  height: 16px;
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
}
/* line 363, ../sass/story.scss */
.post__views .smalluser {
  float: left;
}

/* line 367, ../sass/story.scss */
.smalluser {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  margin-right: 10px;
}
/* line 372, ../sass/story.scss */
.smalluser img {
  display: inline-block;
  border-radius: 30px;
}

/* line 378, ../sass/story.scss */
.comment {
  background: #f8f8f8;
  position: relative;
  padding: 50px 0 36px;
  border-top: 1px solid #e6e6e6;
}
/* line 383, ../sass/story.scss */
.comment .comment__act {
  font-size: 14px;
  font-weight: bold;
  color: #9c9c9c;
  font-family: Arial, Helvetica, sans-serif;
}
/* line 388, ../sass/story.scss */
.comment .comment__act span {
  vertical-align: middle;
}
/* line 392, ../sass/story.scss */
.comment .comment__user {
  position: absolute;
  top: 18px;
  left: 18px;
}
/* line 397, ../sass/story.scss */
.comment form {
  width: 640px;
  margin: auto;
}
/* line 401, ../sass/story.scss */
.comment textarea {
  background: #f2f2f2;
  border: 1px solid #d3d3d3;
  height: 151px;
  width: 606px;
  padding: 10px 16px;
  font-size: 16px;
  font-family: Cambria,georgia,serif;
  border-radius: 3px;
  display: block;
}
/* line 412, ../sass/story.scss */
.comment .comment__visual {
  margin-bottom: 14px;
  position: relative;
}
/* line 416, ../sass/story.scss */
.comment .button {
  padding: 6px 10px;
}

/* line 418, ../sass/story.scss */
.textformat {
  border: 1px solid #d9d9d9;
  box-shadow: 0 1px 0 #fff;
  position: absolute;
  top: 10px;
  right: 13px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: linear-gradient(#f8f8f8, #f1f1f1);
  height: 20px;
  font-size: 0;
}
/* line 427, ../sass/story.scss */
.textformat .textformat__icon {
  display: inline-block;
  height: 20px;
  width: 27px;
  border-left: 1px solid #dfdfdf;
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
/* line 433, ../sass/story.scss */
.textformat .textformat__icon:first-child {
  border: none;
}
/* line 436, ../sass/story.scss */
.textformat .textformat__icon:hover {
  background: #fff;
}
/* line 441, ../sass/story.scss */
.textformat .textformat__bold:hover {
  background: url('../img/common-s0650aef3c5.png') 0 -1322px no-repeat;
  width: 28px;
  height: 20px;
  background-color: #FFF;
}
/* line 446, ../sass/story.scss */
.textformat .textformat__list {
  background: url('../img/common-s0650aef3c5.png') 0 -2259px no-repeat;
  width: 28px;
  height: 20px;
}
/* line 448, ../sass/story.scss */
.textformat .textformat__list:hover {
  background: url('../img/common-s0650aef3c5.png') 0 -1302px no-repeat;
  width: 28px;
  height: 20px;
  background-color: #FFF;
}
/* line 453, ../sass/story.scss */
.textformat .textformat__italic {
  background: url('../img/common-s0650aef3c5.png') 0 -2203px no-repeat;
  width: 27px;
  height: 20px;
}
/* line 455, ../sass/story.scss */
.textformat .textformat__italic:hover {
  background: url('../img/common-s0650aef3c5.png') 0 -1800px no-repeat;
  width: 27px;
  height: 20px;
  background-color: #FFF;
}

/* line 461, ../sass/story.scss */
.addphoto {
  position: absolute;
  bottom: 10px;
  right: 13px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/* line 468, ../sass/story.scss */
.addphoto .addphoto__icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url('../img/common-s0650aef3c5.png') 0 -724px no-repeat;
  width: 23px;
  height: 20px;
  opacity: .3;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transition: all 1s linear;
}
/* line 477, ../sass/story.scss */
.addphoto .addphoto__file {
  cursor: default;
  position: absolute;
  right: 30px;
  top: 0;
  font-size: 12px;
  color: #939393;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #f8f8f8;
  padding: 4px 21px 4px 11px;
  line-height: 1;
}
/* line 489, ../sass/story.scss */
.addphoto .addphoto__file .addphoto__close {
  position: absolute;
  background: url('../img/common-s0650aef3c5.png') 0 -2292px no-repeat;
  width: 9px;
  height: 9px;
  top: 6px;
  right: 6px;
  cursor: pointer;
  opacity: .2;
}
/* line 496, ../sass/story.scss */
.addphoto .addphoto__file .addphoto__close:hover {
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 1;
}
/* line 502, ../sass/story.scss */
.addphoto .addphoto__loader {
  position: absolute;
  right: 30px;
  top: 3px;
  z-index: 20;
  background: url('../img/common-s0650aef3c5.png') 0 -1711px no-repeat;
  width: 18px;
  height: 18px;
  -moz-animatiom: rotate 1s linear 0s infinite normal;
  -webkit-animation: rotate 1s linear 0s infinite normal;
  -o-animation: rotate 1s linear 0s infinite normal;
  animation: rotate 1s linear 0s infinite normal;
}

/* line 512, ../sass/story.scss */
.addphoto_error .addphoto__icon {
  background: url('../img/common-s0650aef3c5.png') 0 -1457px no-repeat;
  width: 23px;
  height: 20px;
  opacity: 1;
}

/* line 516, ../sass/story.scss */
.addphoto:hover .addphoto__icon {
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 1;
}

/* line 520, ../sass/story.scss */
.addphoto_active .addphoto__icon {
  background: url('../img/common-s0650aef3c5.png') 0 -104px no-repeat;
  width: 31px;
  height: 25px;
  opacity: 1;
  bottom: -3px;
  right: -3px;
}

/* line 527, ../sass/story.scss */
.button {
  vertical-align: middle;
  font: bold  14px Arial, sans-serif;
  text-shadow: 0 1px 0 #fff;
  color: #9c9c9c;
  padding: 7px 15px;
  display: inline-block;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  -webkit-appearance: none;
  cursor: pointer;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: linear-gradient(#f8f8f8, #f1f1f1);
  box-shadow: 0 1px 0 #fff;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 541, ../sass/story.scss */
.button:hover {
  color: #1da9dd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #f8f8f8));
  background-image: -webkit-linear-gradient(#fefefe, #f8f8f8);
  background-image: -moz-linear-gradient(#fefefe, #f8f8f8);
  background-image: -o-linear-gradient(#fefefe, #f8f8f8);
  background-image: linear-gradient(#fefefe, #f8f8f8);
}
/* line 545, ../sass/story.scss */
.button .button__icon {
  vertical-align: middle;
  margin-right: 5px;
  display: inline-block;
}

/* line 551, ../sass/story.scss */
.button_facebook {
  margin: 0 5px;
}
/* line 553, ../sass/story.scss */
.button_facebook .button__icon {
  position: relative;
  top: -2px;
  margin-right: 11px;
  background: url('../img/common-s0650aef3c5.png') 0 -2020px no-repeat;
  width: 10px;
  height: 20px;
}
/* line 559, ../sass/story.scss */
.button_facebook:hover {
  color: #3f6093;
}
/* line 561, ../sass/story.scss */
.button_facebook:hover .button__icon {
  background: url('../img/common-s0650aef3c5.png') 0 -1764px no-repeat;
  width: 10px;
  height: 20px;
}

/* line 566, ../sass/story.scss */
.button_twitter {
  margin: 0 5px;
}
/* line 568, ../sass/story.scss */
.button_twitter .button__icon {
  background: url('../img/common-s0650aef3c5.png') 0 -1026px no-repeat;
  width: 20px;
  height: 17px;
  margin-right: 6px;
}
/* line 572, ../sass/story.scss */
.button_twitter:hover {
  color: #2ea8dc;
}
/* line 574, ../sass/story.scss */
.button_twitter:hover .button__icon {
  background: url('../img/common-s0650aef3c5.png') 0 -682px no-repeat;
  width: 20px;
  height: 17px;
}

/* line 579, ../sass/story.scss */
.button_active {
  border-color: #0085b7;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #21aee2), color-stop(100%, #19a6da));
  background-image: -webkit-linear-gradient(#21aee2, #19a6da);
  background-image: -moz-linear-gradient(#21aee2, #19a6da);
  background-image: -o-linear-gradient(#21aee2, #19a6da);
  background-image: linear-gradient(#21aee2, #19a6da);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

/* line 587, ../sass/story.scss */
.button_unread:hover {
  background-color: #d12855;
  border-color: #ac0b36;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d12855), color-stop(100%, #c9204d));
  background-image: -webkit-linear-gradient(#d12855, #c9204d);
  background-image: -moz-linear-gradient(#d12855, #c9204d);
  background-image: -o-linear-gradient(#d12855, #c9204d);
  background-image: linear-gradient(#d12855, #c9204d);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
