/*когда включать версию для айфона*/
/*когда включать широкую версию*/
/* TRANSITION */
@-webkit-keyframes rotate {
  /* line 3, ../sass/story.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 6, ../sass/story.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  /* line 11, ../sass/story.scss */
  from {
    -moz-transform: rotate(0deg);
  }

  /* line 14, ../sass/story.scss */
  to {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  /* line 19, ../sass/story.scss */
  from {
    -o-transform: rotate(0deg);
  }

  /* line 22, ../sass/story.scss */
  to {
    -o-transform: rotate(360deg);
  }
}

/* line 26, ../sass/story.scss */
.author {
  text-align: center;
  padding-bottom: 34px;
  border-bottom: 1px solid #e5e5e5;
  font-family: Helvetica,sans-serif;
  width: 640px;
  margin: 0 auto 33px auto;
}
/* line 33, ../sass/story.scss */
.author .author__pic {
  border-radius: 50px;
  border: 2px solid #ddd;
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: bottom;
}
/* line 41, ../sass/story.scss */
.author .author__name {
  font-weight: bold;
  font-size: 18px;
  margin: 6px 0 6px 0;
}
/* line 46, ../sass/story.scss */
.author .published {
  font-size: 11px;
  color: #d7d7d7;
}

/* line 51, ../sass/story.scss */
.post__content {
  width: 640px;
  margin: 0 auto -15px auto;
  font-family: Cambria,georgia,serif;
  font-size: 18px;
  line-height: 1.5;
}
/* line 57, ../sass/story.scss */
.post__content h1 {
  font-size: 44px;
  font-weight: normal;
  line-height: 1.2;
  margin-bottom: 20px;
}
/* line 63, ../sass/story.scss */
.post__content h2 {
  font-size: 35px;
  border-top: 1px solid #e5e5e5;
  padding-top: 28px;
  margin-top: 35px;
  font-weight: normal;
  line-height: 1.3;
}
/* line 71, ../sass/story.scss */
.post__content h3 {
  font-size: 25px;
  font-weight: normal;
  margin: 17px 0 15px 0;
  line-height: 1.3;
}
/* line 77, ../sass/story.scss */
.post__content .lead {
  font-size: 25px;
}
/* line 80, ../sass/story.scss */
.post__content p {
  margin-bottom: 1em;
}
/* line 83, ../sass/story.scss */
.post__content figure {
  margin: 30px 0;
}
/* line 85, ../sass/story.scss */
.post__content figure img {
  display: block;
  vertical-align: bottom;
}
/* line 89, ../sass/story.scss */
.post__content figure figcaption {
  width: 536px;
  margin: 0 auto;
  font-size: 16px;
  color: #6d6d6d;
  margin-top: 16px;
}
/* line 97, ../sass/story.scss */
.post__content .figure_wide {
  margin: 30px -180px;
  text-align: center;
}
/* line 100, ../sass/story.scss */
.post__content .figure_wide figcaption {
  text-align: left;
}
/* line 38, ../sass/_base.scss */
.post__content .figure_many:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 106, ../sass/story.scss */
.post__content .figure_many img {
  float: left;
}
/* line 110, ../sass/story.scss */
.post__content li {
  padding: 18px 0;
  border-top: 1px dotted #dbdbdb;
  position: relative;
}
/* line 115, ../sass/story.scss */
.post__content ol {
  list-style: none;
  counter-reset: ul 0;
}
/* line 119, ../sass/story.scss */
.post__content ol li:before {
  counter-increment: ul 1;
  content: counter(ul, decimal) ".";
  font-size: 18px;
  color: #b9b9b9;
  width: 30px;
  position: absolute;
  left: -20px;
  text-align: left;
}
/* line 131, ../sass/story.scss */
.post__content ul {
  list-style: none;
}
/* line 134, ../sass/story.scss */
.post__content ul li:before {
  content: '•';
  position: absolute;
  left: -14px;
  color: #b9b9b9;
  text-align: left;
}
/* line 143, ../sass/story.scss */
.post__content .slider {
  position: relative;
  margin: 30px -180px 0 -180px;
}
/* line 146, ../sass/story.scss */
.post__content .slider .slider__next, .post__content .slider .slider__prev {
  padding: 13px 20px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 260px;
  z-index: 50;
  cursor: pointer;
}
/* line 154, ../sass/story.scss */
.post__content .slider .slider__next span, .post__content .slider .slider__prev span {
  float: left;
}
/* line 158, ../sass/story.scss */
.post__content .slider .slider__slides {
  min-height: 456px;
}
/* line 161, ../sass/story.scss */
.post__content .slider .slider__slide {
  text-align: center;
  width: 1000px;
}
/* line 165, ../sass/story.scss */
.post__content .slider .slider__next {
  right: 57px;
}
/* line 167, ../sass/story.scss */
.post__content .slider .slider__next span {
  background: url('../img/common-s634b8a6881.png') 0 -383px no-repeat;
  width: 24px;
  height: 45px;
}
/* line 171, ../sass/story.scss */
.post__content .slider .slider__prev {
  left: 57px;
}
/* line 173, ../sass/story.scss */
.post__content .slider .slider__prev span {
  background: url('../img/common-s634b8a6881.png') 0 -255px no-repeat;
  width: 24px;
  height: 45px;
}
/* line 178, ../sass/story.scss */
.post__content .slider__info {
  text-align: center;
  font-size: 18px;
  padding: 12px 0 14px 0;
  border-bottom: 1px solid #e5e5e5;
  line-height: 1;
  width: 640px;
  margin: 0 auto 16px auto;
}
/* line 187, ../sass/story.scss */
.post__content .slider__descr {
  width: 536px;
  margin: 0 auto;
  font-size: 16px;
  color: #6d6d6d;
}

/* line 194, ../sass/story.scss */
.post__tags {
  list-style: none;
  padding-right: 20px;
  text-align: right;
}
/* line 198, ../sass/story.scss */
.post__tags li {
  display: inline-block;
}
/* line 201, ../sass/story.scss */
.post__tags a {
  display: inline-block;
  font-family: "Myriad Pro", arial,sans-serif;
  font-size: 12px;
  color: #939393;
  background: #f8f8f8;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  text-decoration: none;
  line-height: 1;
  padding: 3px 10px;
  margin-left: 5px;
}

/* line 215, ../sass/story.scss */
.post__bottom {
  border-top: 1px solid #e5e5e5;
  height: 50px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

/* line 222, ../sass/story.scss */
.post__togglesocial {
  position: absolute;
  font-size: 14px;
  right: 20px;
  text-align: right;
  color: #13b3ee;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  top: 0;
  height: 50px;
  line-height: 50px;
}
/* line 233, ../sass/story.scss */
.post__togglesocial span {
  background: url('../img/common-s634b8a6881.png') 0 -92px no-repeat;
  width: 27px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
  position: relative;
  top: -2px;
}

/* line 242, ../sass/story.scss */
.post__socials {
  background: #d0d0d0;
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.3);
  border-top: 1px solid #adadad;
  border-bottom: 1px solid #adadad;
  padding: 17px 0 17px 0;
  text-align: center;
}

/* line 250, ../sass/story.scss */
.post__comment {
  cursor: pointer;
  padding: 0 17px;
  color: #abafb1;
  font-family: Helvetica,sans-serif;
  font-size: 14px;
  font-weight: bold;
  float: left;
  height: 50px;
  line-height: 50px;
  border-right: 1px solid #e5e5e5;
}
/* line 261, ../sass/story.scss */
.post__comment .post__commenticon {
  display: inline-block;
  background: url('../img/common-s634b8a6881.png') 0 -624px no-repeat;
  width: 18px;
  height: 19px;
  vertical-align: middle;
  margin-right: 3px;
}

/* line 268, ../sass/story.scss */
.post__likes {
  float: left;
  padding: 8px 17px 0 13px;
  height: 42px;
  border-right: 1px solid #e5e5e5;
  color: #abafb1;
  font-size: 14px;
  font-weight: bold;
}
/* line 276, ../sass/story.scss */
.post__likes * {
  vertical-align: top;
}
/* line 279, ../sass/story.scss */
.post__likes .post__likesicon {
  background: url('../img/common-s634b8a6881.png') 0 -68px no-repeat;
  width: 28px;
  height: 24px;
  display: inline-block;
  margin-right: 8px;
  margin-top: 4px;
}
/* line 285, ../sass/story.scss */
.post__likes .post__likes-more {
  line-height: 1;
  display: inline-block;
  padding-top: 9px;
}

/* line 291, ../sass/story.scss */
.post__share {
  float: left;
  padding: 8px 17px 0 17px;
  height: 42px;
  border-right: 1px solid #e5e5e5;
}
/* line 296, ../sass/story.scss */
.post__share .post__shareicon {
  background: url('../img/common-s634b8a6881.png') 0 -195px no-repeat;
  width: 25px;
  height: 17px;
  display: inline-block;
  margin-right: 12px;
  float: left;
  margin-top: 7px;
}
/* line 303, ../sass/story.scss */
.post__share .smalluser {
  float: left;
}

/* line 307, ../sass/story.scss */
.post__views {
  padding-left: 15px;
  font-weight: bold;
  font-size: 14px;
  padding-top: 14px;
  color: #abafb1;
  font-family: Helvetica,sans-serif;
  float: left;
}
/* line 315, ../sass/story.scss */
.post__views .post__viewsicon {
  background: url('../img/common-s634b8a6881.png') 0 -114px no-repeat;
  width: 27px;
  height: 16px;
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}
/* line 321, ../sass/story.scss */
.post__views .smalluser {
  float: left;
}

/* line 325, ../sass/story.scss */
.smalluser {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  margin-right: 8px;
}
/* line 330, ../sass/story.scss */
.smalluser img {
  display: inline-block;
  border-radius: 30px;
}

/* line 336, ../sass/story.scss */
.comment {
  background: #f8f8f8;
  position: relative;
  padding: 50px 0 36px;
}
/* line 340, ../sass/story.scss */
.comment .comment__user {
  position: absolute;
  top: 18px;
  left: 18px;
  /*border-radius:50px;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  box-shadow:0 1px 1px rgba(black,0.2)*/
}
/* line 350, ../sass/story.scss */
.comment form {
  width: 640px;
  margin: auto;
}
/* line 354, ../sass/story.scss */
.comment textarea {
  background: #f2f2f2;
  border: 1px solid #d3d3d3;
  height: 140px;
  width: 606px;
  padding: 10px 16px;
  font-size: 16px;
  font-family: Cambria,georgia,serif;
  border-radius: 3px;
  display: block;
}
/* line 365, ../sass/story.scss */
.comment .comment__visual {
  margin-bottom: 14px;
  position: relative;
}

/* line 370, ../sass/story.scss */
.textformat {
  border: 1px solid #d9d9d9;
  box-shadow: 0 1px 0 #fff;
  position: absolute;
  top: 10px;
  right: 13px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: linear-gradient(#f8f8f8, #f1f1f1);
  height: 20px;
  font-size: 0;
}
/* line 379, ../sass/story.scss */
.textformat .textformat__icon {
  display: inline-block;
  height: 20px;
  width: 27px;
  border-left: 1px solid #dfdfdf;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 385, ../sass/story.scss */
.textformat .textformat__icon:first-child {
  border: none;
}
/* line 388, ../sass/story.scss */
.textformat .textformat__icon:hover {
  background: #fff;
}
/* line 392, ../sass/story.scss */
.textformat .textformat__bold {
  background: url('../img/common-s634b8a6881.png') 0 -657px no-repeat;
  width: 28px;
  height: 20px;
}
/* line 394, ../sass/story.scss */
.textformat .textformat__bold:hover {
  background: url('../img/common-s634b8a6881.png') 0 -363px no-repeat;
  width: 28px;
  height: 20px;
  background-color: #FFF;
}
/* line 399, ../sass/story.scss */
.textformat .textformat__list {
  background: url('../img/common-s634b8a6881.png') 0 -785px no-repeat;
  width: 28px;
  height: 20px;
}
/* line 401, ../sass/story.scss */
.textformat .textformat__list:hover {
  background: url('../img/common-s634b8a6881.png') 0 -343px no-repeat;
  width: 28px;
  height: 20px;
  background-color: #FFF;
}
/* line 406, ../sass/story.scss */
.textformat .textformat__italic {
  background: url('../img/common-s634b8a6881.png') 0 -729px no-repeat;
  width: 27px;
  height: 20px;
}
/* line 408, ../sass/story.scss */
.textformat .textformat__italic:hover {
  background: url('../img/common-s634b8a6881.png') 0 -586px no-repeat;
  width: 27px;
  height: 20px;
  background-color: #FFF;
}

/* line 414, ../sass/story.scss */
.addphoto {
  position: absolute;
  bottom: 10px;
  right: 13px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
/* line 421, ../sass/story.scss */
.addphoto .addphoto__icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url('../img/common-s634b8a6881.png') 0 -155px no-repeat;
  width: 23px;
  height: 20px;
  opacity: .3;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  transition: all 1s linear;
}
/* line 430, ../sass/story.scss */
.addphoto .addphoto__file {
  cursor: default;
  position: absolute;
  right: 30px;
  top: 0;
  font-size: 12px;
  color: #939393;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background: #f8f8f8;
  padding: 4px 21px 4px 11px;
  line-height: 1;
}
/* line 442, ../sass/story.scss */
.addphoto .addphoto__file .addphoto__close {
  position: absolute;
  background: url('../img/common-s634b8a6881.png') 0 -805px no-repeat;
  width: 9px;
  height: 9px;
  top: 6px;
  right: 6px;
  cursor: pointer;
  opacity: .2;
}
/* line 449, ../sass/story.scss */
.addphoto .addphoto__file .addphoto__close:hover {
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 1;
}
/* line 455, ../sass/story.scss */
.addphoto .addphoto__loader {
  position: absolute;
  right: 50px;
  top: 3px;
  background: url('../img/common-s634b8a6881.png') 0 -534px no-repeat;
  width: 18px;
  height: 18px;
  -moz-animatiom: rotate 1s linear 0s infinite normal;
  -webkit-animation: rotate 1s linear 0s infinite normal;
  -o-animation: rotate 1s linear 0s infinite normal;
  animation: rotate 1s linear 0s infinite normal;
}

/* line 464, ../sass/story.scss */
.addphoto_error .addphoto__icon {
  background: url('../img/common-s634b8a6881.png') 0 -471px no-repeat;
  width: 23px;
  height: 20px;
  opacity: 1;
}

/* line 468, ../sass/story.scss */
.addphoto:hover .addphoto__icon {
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  opacity: 1;
}

/* line 472, ../sass/story.scss */
.addphoto_active .addphoto__icon {
  background: url('../img/common-s634b8a6881.png') 0 0 no-repeat;
  width: 31px;
  height: 25px;
  opacity: 1;
  bottom: -3px;
  right: -3px;
}

/* line 478, ../sass/story.scss */
.button {
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  color: #9c9c9c;
  padding: 7px 15px;
  display: inline-block;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  -webkit-appearance: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f8f8), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: -moz-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: -o-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: -ms-linear-gradient(#f8f8f8, #f1f1f1);
  background-image: linear-gradient(#f8f8f8, #f1f1f1);
  box-shadow: 0 1px 0 #fff;
  vertical-align: top;
}
/* line 491, ../sass/story.scss */
.button:hover {
  color: #1da9dd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #f8f8f8));
  background-image: -webkit-linear-gradient(#fefefe, #f8f8f8);
  background-image: -moz-linear-gradient(#fefefe, #f8f8f8);
  background-image: -o-linear-gradient(#fefefe, #f8f8f8);
  background-image: -ms-linear-gradient(#fefefe, #f8f8f8);
  background-image: linear-gradient(#fefefe, #f8f8f8);
}
