@import "base";

.popup-wrap{
	position:fixed;
	top:0;
	left:0;
	background:#000;
	opacity:0.6;
	height:100%;
	width:100%;
	z-index:200;
}
.popup{
	position:absolute;
	left:50%;
	width:640px;
	margin-left:-320px;
	background:#f8f8f8;
	border-radius:4px;
	box-shadow:0 3px 18px 0 rgba(0,0,0,0.15);
	top:160px;
	z-index:250;
}
.popup_reg{
	.popup_reg__header{
		padding:30px 0 25px;
		text-align:center;
		border-bottom:1px solid #e5e5e5;
		p{
			font:16px/1.8 Cambria,georgia,serif;
			color:#8f8f8f;
			margin-bottom:5px;
		}
		h2{
			font: 18px Helvetica,sans-serif;
		}
	}
	.popup_reg__userpic{
		height:120px;
		width:120px;
		border-radius:60px;
		border:2px solid #fff;
		box-shadow:0 24px 38px 0 rgba(0,0,0,0.2);
		position:relative;
		margin:0 auto 8px;
	}
	.socail{
		position:absolute;
		right:-1px;
		bottom:-3px;
	}
	h1{
		text-align:center;
		color:#9b9b9b;
		font:30px/1.2 Cambria,georgia,serif;
		margin:17px 0 21px;
	}

}
.social__fb{@include sized-sprite($icons, "icon-fb");}
.social__tw{@include sized-sprite($icons, "icon-tw");}

.reg-form{
	padding:0 65px;
	.row{
		position:relative;
		display:inline-block;
		width:100%;
		margin-bottom:15px;
	}
	label{
		color:#6d6d6d;
		font:16px Cambria,georgia,serif;
		float:left;
		width:75px;
		margin:8px 11px 0 0;
		text-align:right;
	}
	.input{
		background:#f2f2f2;
		border:1px solid #d3d3d3;
		border-radius:3px;
		width:310px;
		padding:7px 12px 10px;
		font:16px/20px Cambria,georgia,serif;
		color:#000;
		float:left;
	}
	.input-mess{
		position:absolute;
		top:9px;
		left:431px;
		font: 11px Helvetica,sans-serif;
		color:#808080;
		span{
			display:inline-block;
			@include sized-sprite($icons, "input_ok");
			margin-right:8px;
			vertical-align:middle;
		}
	}
	.input-mess__error span{@include sized-sprite($icons, "input_error");}
	.input-inf{
		clear:both;
		display:block;
		font: 11px Helvetica,sans-serif;
		color:#808080;
		padding:9px 0 2px 86px;
	}
	.icon-location{
		@include sized-sprite($icons, "location");
		position:absolute;
		top:9px;
		left:393px;
		cursor:pointer;
	}
	.row_login {
		.input{
			padding-left:98px;
			width:224px;
		}
		.input-holder{
			color:#9a9a9a;
			font:16px/20px Cambria,georgia,serif;
			position:absolute;
			top:8px;
			left:99px;
		}
	}
	.row_btn{
		border-top:1px solid #e5e5e5;
		margin:13px -65px 0;
		text-align:center;
		padding:20px 65px;
		.button{
			font-size:13px;
			padding:6px 10px;
		}
	}
	.gender{
		float:left;
		list-style:none;
		margin-left:-4px;
		input{
			display:none;
		}
		li{
			float:left;
			border-right:1px solid #e5e5e5;
			padding:4px 6px 0 0;
			margin-right:6px;
			&:last-child{border:none;}
			div{
				cursor:pointer;
				overflow:hidden;
				text-indent:-9999px;
			}
		}
		.gender__male{@include sized-sprite($icons, "gender-m");}
		.active .gender__male{@include sized-sprite($icons, "gender-m_active");}
		.gender__female{@include sized-sprite($icons, "gender-f");}
		.active .gender__female{@include sized-sprite($icons, "gender-f_active");}
	}
}