@import "base";

.popup-wrap{
	position:fixed;
	top:0;
	left:0;
	background:#000;
	opacity:0.6;
	height:100%;
	width:100%;
	z-index:200;
}
.popup{
	position:absolute;
	left:50%;
	width:640px;
	margin-left:-320px;
	background:#f8f8f8;
	border-radius:4px;
	box-shadow:0 3px 18px 0 rgba(0,0,0,0.15);
	top:160px;
	z-index:250;
	.popup__close{
		@include sized-sprite($icons, "close");
		position:absolute;
		top:12px;
		right:13px;
		cursor:pointer;
	}
	h1{
		text-align:center;
		color:#9b9b9b;
		font:30px/1.2 Cambria,georgia,serif;
		margin-bottom:21px;
		padding-top:17px;
		border-top:1px solid #e5e5e5;
	}
	.socail{
		float: left;
		font:16px/37px Cambria,georgia,serif;
	}
	.socail__user{
		display:inline-block;
		height:30px;
		width:30px;
		margin:-4px 5px 0 0;
		border-radius:15px;
		vertical-align:middle;;
	}
	.row_btn{
		border-top:1px solid #e5e5e5;
		margin:13px -65px 0;
		text-align:center;
		padding:20px 65px;
		.button{
			font-size:13px;
			padding:6px 10px;
		}
	}
	.popup__header{
		padding:30px 0 25px;
		text-align:center;
		p{
			font:16px/1.8 Cambria,georgia,serif;
			color:#8f8f8f;
			margin-bottom:5px;
		}
		h2{font: 18px Helvetica,sans-serif;}
		h1{
			padding:0;
			border-top:none;
			margin:0;
		}
	}
	.popup_reg__userpic{
		height:120px;
		width:120px;
		border-radius:60px;
		border:2px solid #fff;
		box-shadow:0 24px 38px 0 rgba(0,0,0,0.2);
		position:relative;
		margin:0 auto 8px;
		.addphoto{
			right:-17px;
			bottom:-4px;
		}
		.socail{
			position:absolute;
			right:-1px;
			bottom:-3px;
		}
	}
}
.social__fb{
	@include sized-sprite($icons, "icon-fb");
	cursor:pointer;
}
.social__tw{
	@include sized-sprite($icons, "icon-tw");
	cursor:pointer;
}
.reg-form{
	padding:0 65px;
	.row{
		position:relative;
		display:inline-block;
		width:100%;
		margin-bottom:15px;
	}
	.label{
		color:#6d6d6d;
		font:16px Cambria,georgia,serif;
		float:left;
		width:75px;
		margin:8px 11px 0 0;
		text-align:right;
	}
	.input{
		background:#f2f2f2;
		border:1px solid #d3d3d3;
		border-radius:3px;
		width:310px;
		padding:7px 12px 10px;
		font:16px/20px Cambria,georgia,serif;
		color:#000;
		float:left;
	}
	.input-mess{
		position:absolute;
		top:9px;
		left:431px;
		font: 11px Helvetica,sans-serif;
		color:#808080;
		span{
			display:inline-block;
			@include sized-sprite($icons, "input_ok");
			margin-right:8px;
			vertical-align:text-top;
		}
	}
	.input-mess__error span{@include sized-sprite($icons, "input_error");}
	.input-inf{
		clear:both;
		display:block;
		font: 11px Helvetica,sans-serif;
		color:#808080;
		padding:9px 0 2px 86px;
	}
	.icon-location{
		@include sized-sprite($icons, "location");
		position:absolute;
		top:9px;
		left:393px;
		cursor:pointer;
	}
	.row_login {
		.input{
			padding-left:98px;
			width:224px;
		}
		.input-holder{
			color:#9a9a9a;
			font:16px/20px Cambria,georgia,serif;
			position:absolute;
			top:8px;
			left:99px;
		}
	}
	.gender{
		float:left;
		list-style:none;
		margin-left:-4px;
		padding-bottom:2px;
		input{display:none;}
		li{
			float:left;
			border-right:1px solid #e5e5e5;
			padding:4px 6px 0 0;
			margin-right:6px;
			&:last-child{border:none;}
			div{
				cursor:pointer;
				overflow:hidden;
				text-indent:-9999px;
			}
		}
		.gender__male{@include sized-sprite($icons, "gender-m");}
		.active .gender__male{@include sized-sprite($icons, "gender-m_active");}
		.gender__female{@include sized-sprite($icons, "gender-f");}
		.active .gender__female{@include sized-sprite($icons, "gender-f_active");}
	}

	.privacy{
		border:1px solid #d3d3d3;
		border-radius:3px;
		color:#17ace5;
		font:16px Cambria,georgia,serif;
		float:left;
		padding: 9px 10px;
		width: 314px;
		label{margin-left:4px;}
	}
}
.search-form{
	border:1px solid #e5e5e5;
	border-width:1px 0;
	padding:20px 29px;
	position:relative;
	.search-form__input{
		padding:4px 15px;
		line-height:20px;
		color:#929292;
		font:12px Helvetica,sans-serif;
		border-radius:14px;
		border:1px solid #d5d5d5;
		background:#f2f2f2;
		width:558px;
		height:20px;
		display:block;
	}
	.search-form__btn{
		position:absolute;
		right:21px;
		top:20px;
		@include sized-sprite($icons, "search-btn");
		border:none;
		font: 0/0 a;
		color: transparent;
		cursor:pointer;
	}
}

.follow-form{
	.row-check{
		float:left;
		width:268px;
		padding:11px 0;
		position:relative;
		.checkbox{
			float:left;
			margin:9px 10px 0 0;
		}
		label{font:bold 14px Helvetica,sans-serif;}
	}
	.row_btn{
		margin:13px -30px 0;
		padding:20px 30px;
	}
}
.tabs-info{
	padding:10px 30px;
	display:none;
}
.checked{
	.checkbox{@include sized-sprite($icons, "checkbox_active");}
	label{color:#16abe4;}
}
.check{
	height: 13px;
	left: 0;
	opacity: 0;
	position: absolute;
	top:0;
	width: 13px;
}
.checkbox{
	@include sized-sprite($icons, "checkbox");
	position:relative;
	display:inline-block;
}
.scroll-pane{
	width:580px;
	height:212px;
	overflow:auto;
}
.tabs-nav{
	list-style:none;
	border:1px solid #dadada;
	border-radius:4px;
	display:inline-block;
	margin: 6px auto -10px;
	box-shadow:0 1px 0 0 #fff;
	li{
		color:#979797;
		float:left;
		border:0;
		padding:5px 12px;
		font-size:12px;
		cursor:pointer;
		font-weight:bold;
		box-shadow:none;
		&:first-child{border-radius:4px 0 0 4px;}
		&:last-child{border-radius:0 4px 4px 0;}
	}
	span{color:#979797;}
	.active{
		color:#16aae3;
		box-shadow:0 2px 6px 0 rgba(0,0,0,0.15) inset;
	}
}
.invite{
	padding:0 150px 60px;
	.row{
		height:36px;
		border:1px solid #d3d3d3;
		margin-bottom:20px;
		position:relative;
		border-radius:3px;
		input{
			color:#808080;
			font:16px Cambria,georgia,serif;
			border:none;
			background:#f2f2f2;
			height:20px;
			line-height:20px;
			padding:8px 32px 8px 12px;
		}
		.button{
			position:absolute;
			top:2px;
			right:2px;
			font-family:Arial,sans-serif;
			padding:6px 11px;
		}
		span{
			font:16px/36px Cambria,georgia,serif;
			margin-left:12px;
		}
		strong{
			font-size:14px;
			color:#b3b3b3;
			float:right;
			line-height:36px;
			margin-right:18px;
			font-family:Arial,sans-serif;
		}
	}
}
.popup_invite{
	
	.popup__header{
		padding:55px 110px 10px;
		h1{
			margin:0 0 4px;
		}
		p{
			line-height:1.4;
		}
	}
}